*,:after,:before {
	box-sizing:border-box;
	background-color:inherit;
	color:inherit;
	margin:0;
	padding:0;
}

::selection {
  background: #E0F7FA /* #F0F4C3; #f7f5a0; WebKit/Blink Browsers */
}
::-moz-selection {
  background: #E0F7FA /* #F0F4C3; #f7f5a0; Gecko Browsers */
}

body {
	font-family: "Open Sans", system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
	line-height:1.5;
	font-size: 1rem;
	color: rgb(22, 23, 26);
}

.serif {
	font-family: "Open Sans", system-ui, sans-serif;
}
.sans-serif {
	font-family: "Open Sans", system-ui, sans-serif;
}
nav ul {
  border-right: 1px solid #edf2f7;
}
a {
  color: #000;
  text-decoration: underline;
}
a.external-link {
	color: #311B92;
}
a:hover, a:hover.external-link {
	color: #2962FF;	
}
.btn a {
	text-decoration: none;
}
.btn a:hover {
	color: white;
}

pre {
	margin: .5rem 0;
	padding: .5rem;
}

.featured-image {
	margin-top: 3em;	
	img {
		border: 1px solid #ccc;	
	}
}

img.outlined {
	border: 1px solid #ccc;
}

ul#side-nav li:first-child {
}

div.image {
	margin: 1em 0 1em 0;
	padding: 0;
}

.post p {
	margin: 0.5rem 0 1rem 0;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
}

.post h1, .post h2, .post h3, .post h4 {
	margin: 1.5rem 0 0 0;
}

.header-title a {
	text-decoration: none;	
}
.post h1.title, h1.header-title {
	font-size: 30px;
	margin-top: 0;
}
.post h2.subtitle {
	font-family: "Open Sans", system-ui, sans-serif;
	font-size: 24px;
	font-weight: 200;
	margin-top: 0;
}

.post h2:first-child, .project h2:first-child, .photo h2:first-child {
	margin-top: 0;
}

.meta, .meta a {
	margin: 2rem 0;
	font-size: 14px;
	color: #667;
}

code,pre {
	background: rgb(236, 237, 238);
}

code {
	padding: .1rem;
}

pre code {
	border: none;
}

pre {
	padding: 1rem;
	overflow-x: auto;
}

img {
	max-width:100%;
}

hr {
	background: #ccc;
  height: 1px;
  border: 0;
  margin: 2em auto 1em auto;
  width: 70%;
}

header {
	//flex-basis:15rem;
	flex-grow:1;
	position:relative;
}

header a {
	text-decoration: none;
	padding: 5px;
	border-radius: 5px;
	white-space: nowrap;
}

header li {
	margin-bottom: .2rem;
	text-align: right;
	margin-right: 2rem;
}

header a.active {
	font-weight: bold;
	background-color: #E0F7FA;
}

header,section {
	padding:1rem;
}

blockquote {
	font-style: italic;
  border-left: 5px solid #03dac5;
  padding: 0 1rem;
  margin: 0.5rem 0;
}

h1,h2,h3,h4,h5 {
	line-height: 1.2em;
	margin: 1rem 0;
	font-weight: 400;
	font-size: 26px;
	font-family: "Fredoka One", "Open Sans", sans-serif;
}

h1 {
	font-style: normal;
	color: #000;
}

h2, h4 {
	font-style: normal;
	color: #334;
}

h3, h5 {
	font-style: normal;
	color: #667;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 20px;
}

section h1:first-child {
	margin-top: 0;
}

strong, b {
	font-weight: bold;
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture, .project picture {
	margin-bottom: 0.5rem;
}

.posts ul,header ul {
	list-style:none;
}

.posts li {
	align-items:center;
	display:flex;
	justify-content:space-between;
	margin-bottom: .5rem;
}

.posts li a, .posts li div, .projects li a {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.posts li time, .projects li time {
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

.post ul, .project ul, .post ol  {
	padding-left: 20px;
	margin-bottom: 1rem;

	li {
		margin-bottom: 0.5rem;
	}
}
ul.post-list, ul.post-list li, ul#results-container, ul#results-container li {
  padding-inline-start: 0px;	
}

main {
	display: flex;
	flex-wrap: wrap;
	max-width: 55rem;
	margin: 2rem auto;
	padding: 1rem;
}


@media screen and (max-width: 45rem ) {
	header li {
	  display: inline;
		margin-right: 1rem;
	}
	.logo {
		padding-bottom: 1rem;
	}
	header ul {
		border-bottom: 1px solid #edf2f7;
		padding-bottom: 2rem;	
	}
	nav ul {
	    border-right: 0px;
	}

	.photos ul {
		margin-top: 0.5rem;
	}
}

section {
	flex-basis: 0;
	flex-grow: 999;
	min-width: 70%;
	display: flex;
	flex-direction: column;
}

figcaption {
	font-size: smaller;
}

#search-container {
	margin-block-start: 1em;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
#results-container li {
	padding-top: 5px;
}
input[type=text]#search-input {
  font-size: normal;
  outline: none;
  padding: 1rem;
  width: 100%;
  background: rgb(236, 237, 238);
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 100%;
  border: none;
}

// Life in weeks
.life-in-weeks {
	h2 {
		margin-top: 0;
	}
	.border-tertiary {
		border-color: #eee;
		color: #666;
	}
	.border-tertiary a {
		color: #666;
	}
	.week {
		a {
			text-decoration: none;
		}
	}
	.future-date {
		background-color: #eee;
	}
}

// Pop-overs
h3.popover-header {
	margin: 0;
	margin-block-start: 0;
}
.popover .arrow {
  display: none;
}
.popover {
  border: 5px solid #334;
}

// Book of moods
.book-of-moodes {
	ol li {
		padding-left: 20px;
	}
}

// Responsive iframes
.responsive-container {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}
.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

// Responsive images

.no-js img.lazyload {
	display: none;
}

.blur-up {
	filter: blur(10px);
	transition: filter 400ms;
}

.blur-up.lazyloaded {
	filter: blur(0);
}

.fade-in {
	opacity: 0;
	transition: opacity 400ms;
}

.fade-in.lazyloaded {
	opacity: 1;
}
