---
layout: fullscreen
---

{% assign questions = site.data.eightbit.question %}
{% assign trigrams = site.data.eightbit.trigrams %}
{% assign hexagrams = site.data.eightbit.hexagrams %}

<style>
	.eightbit .intention-oracle {
	}
	.eightbit .question {
		margin-bottom: 1em;
		margin-top: 1em;
	}
	.eightbit button {
		margin-top: 0.5em;
	}
	.eightbit .answers {
		padding: 3px;
	}
	.eightbit .answer {
		width: 100%;
		text-align: center;
		border: 1px solid #ccc;
		padding: 3px;
	}
	.eightbit .trigram-external,
	.eightbit .trigram-internal {
		display: none;
		font-size: 24px;
		font-weight: bold;
	}
	.eightbit .trigram-external {
		text-align: right;
	}
	.eightbit .oracle-name {
		display: none;
		margin: 0 0 5px 0;
		border: 1px solid #ccc;
		padding: 10px;
		font-size: 24px;
	}
</style>


<section class="eightbit">
	<div class="row justify-content-center">
		<div class="col-12">
			{% include header_fullscreen.html %}
			{{content}}
		</div>
	</div>

	<div class="intention-oracle row">
		<div class="row col-12" style="margin-bottom: 3em;">
			<div id="intention" class="col-12 col-sm-6">
				<h2>I'd like insight into...</h2>
				<textarea style="font-size: 20px; width: 90%; max-width: 90%; min-height: 95px; padding: 10px;"></textarea>
			</div>
			<div id="oracle" class="col-12 col-sm-6">
				<h2>8-Bit Oracle</h2>

				<div class="row col-12 justify-content-center">
					<div class="col-12">
						<div id="oracle-image"></div>
					</div>
				</div>

				<div class="row col-12 justify-content-between" style="padding: 0;">
					<div class="col-12">
						{% for hex in hexagrams %}
							{% assign hex_id = hex[0] %}
							<div id="oracle-name-{{hex_id}}" class="oracle-name">
								{% include 8bit_card.html hexagram=hex_id %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="row col-12 justify-content-center">
					<div class="col-6">
						<div class="row">
							<div id="q1-answer" class="answer col-3">&nbsp;</div>
							<div id="q2-answer" class="answer col-3">&nbsp;</div>
							<div id="q3-answer" class="answer col-3">&nbsp;</div>
							<div id="q4-answer" class="answer col-3">&nbsp;</div>
						</div>
					</div>
					<div class="col-6">
						<div class="row">
							<div id="q5-answer" class="answer col-3">&nbsp;</div>
							<div id="q6-answer" class="answer col-3">&nbsp;</div>
							<div id="q7-answer" class="answer col-3">&nbsp;</div>
							<div id="q8-answer" class="answer col-3">&nbsp;</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<div class="col-12">
			<div class="row">
				<div class="question col-12 col-sm-6 col-md-3">
					<strong>{{questions.one.label}}:</strong> 
					<div>{{questions.one.text}}</div>
					<div>
						<button id="q1-1" d-val="1" type="button" class="q-button btn btn-secondary">Yes</button>
						<button id="q1-0" d-val="0" type="button" class="q-button btn btn-secondary">No</button>
					</div>	
				</div>
				<div class="question col-12 col-sm-6 col-md-3">
					<strong>{{questions.two.label}}:</strong> 
					<div>{{questions.two.text}}</div>
					<div>
						<button id="q2-1" d-val="1" type="button" class="q-button btn btn-secondary">Yes</button>
						<button id="q2-0" d-val="0" type="button" class="q-button btn btn-secondary">No</button>
					</div>	
				</div>
				<div class="question col-12 col-sm-6 col-md-3">
					<strong>{{questions.three.label}}:</strong> 
					<div>{{questions.three.text}}</div>
					<div>
						<button id="q3-1" d-val="1" type="button" class="q-button btn btn-secondary">Yes</button>
						<button id="q3-0" d-val="0" type="button" class="q-button btn btn-secondary">No</button>
					</div>	
				</div>
				<div class="question col-12 col-sm-6 col-md-3">
					<strong>{{questions.four.label}}:</strong> 
					<div>{{questions.four.text}}</div>
					<div>
						<button id="q4-1" d-val="1" type="button" class="q-button btn btn-secondary">Yes</button>
						<button id="q4-0" d-val="0" type="button" class="q-button btn btn-secondary">No</button>
					</div>	
				</div>

				<div class="question col-12 col-sm-6 col-md-3">
					<strong>{{questions.five.label}}:</strong> 
					<div>{{questions.five.text}}</div>
					<div>
						<button id="q5-1" d-val="1" type="button" class="q-button btn btn-secondary">Yes</button>
						<button id="q5-0" d-val="0" type="button" class="q-button btn btn-secondary">No</button>
					</div>	
				</div>
				<div class="question col-12 col-sm-6 col-md-3">
					<strong>{{questions.six.label}}:</strong>
					<div>{{questions.six.text}}</div>
					<div>
						<button id="q6-1" d-val="1" type="button" class="q-button btn btn-secondary">Yes</button>
						<button id="q6-0" d-val="0" type="button" class="q-button btn btn-secondary">No</button>
					</div>	
				</div>
				<div class="question col-12 col-sm-6 col-md-3">
					<strong>{{questions.seven.label}}:</strong> 
					<div>{{questions.seven.text}}</div>
					<div>
						<button id="q7-1" d-val="1" type="button" class="q-button btn btn-secondary">Yes</button>
						<button id="q7-0" d-val="0" type="button" class="q-button btn btn-secondary">No</button>
					</div>	
				</div>
				<div class="question col-12 col-sm-6 col-md-3">
					<strong>{{questions.eight.label}}:</strong>
					<div>{{questions.eight.text}}</div>
					<div>
						<button id="q8-1" d-val="1" type="button" class="q-button btn btn-secondary">Yes</button>
						<button id="q8-0" d-val="0" type="button" class="q-button btn btn-secondary">No</button>
					</div>	
				</div>
			</div>
		</div>
	</div>


</section>

<script>
	$(document).ready(function () {
	  $(function () {
	  	var q1, q2, q3, q4, q5, q6, q7, q8 = null;
	  	var external, internal, suit = null;
	  	var page = null;
	  	$('.q-button').click(function() {
	  		var q_id = this.id;
	  		if (q_id == 'q1-1' || q_id == 'q1-0') {
	  			$('#q1-answer').html($('#'+this.id).attr('d-val'));
	  			q1 = $('#'+this.id).attr('d-val');
	  		}
	  		if (q_id == 'q2-1' || q_id == 'q2-0') {
	  			$('#q2-answer').html($('#'+this.id).attr('d-val'));
	  			q2 = $('#'+this.id).attr('d-val');
	  		}
	  		if (q_id == 'q3-1' || q_id == 'q3-0') {
	  			$('#q3-answer').html($('#'+this.id).attr('d-val'));
	  			q3 = $('#'+this.id).attr('d-val');
	  		}

	  		if (q_id == 'q4-1' || q_id == 'q4-0') {
	  			$('#q4-answer').html($('#'+this.id).attr('d-val'));
	  			q4 = $('#'+this.id).attr('d-val');
	  		}
	  		if (q_id == 'q5-1' || q_id == 'q5-0') {
	  			$('#q5-answer').html($('#'+this.id).attr('d-val'));
	  			q5 = $('#'+this.id).attr('d-val');
	  		}
	  		if (q_id == 'q6-1' || q_id == 'q6-0') {
	  			$('#q6-answer').html($('#'+this.id).attr('d-val'));
	  			q6 = $('#'+this.id).attr('d-val');
	  		}
	  		
	  		if (q_id == 'q7-1' || q_id == 'q7-0') {
	  			$('#q7-answer').html($('#'+this.id).attr('d-val'));
	  			q7 = $('#'+this.id).attr('d-val');
	  		}
	  		if (q_id == 'q8-1' || q_id == 'q8-0') {
	  			$('#q8-answer').html($('#'+this.id).attr('d-val'));
	  			q8 = $('#'+this.id).attr('d-val');
	  		}

	  		if (q1 && q2 && q3) {
	  			external = String(q1)+String(q2)+String(q3);
	  		}
	  		if (q4 && q5 && q6) {
	  			internal = String(q4)+String(q5)+String(q6);
	  		}
	  		if (q7 && q8) {
	  			suit = String(q7)+String(q8);
	  		}
  			$('.oracle-name').hide();
	  		if (external && internal && suit) {
	  			$('#oracle-name-'+external+internal).show();
	  			var suit_name = null;
	  			if (suit == '00') {
	  				suit_name = "Wands";
	  			} else if (suit == '10') {
	  				suit_name = "Swords";
	  			} else if (suit == '11') {
	  				suit_name = "Cups";
	  			} else if (suit == '01') {
	  				suit_name = "Coins";
	  			}
	  			$('#hexagram-suit-'+external+internal).html("in <strong>"+suit_name+"</strong>");
	  		}
	  	})
	  })
	});
</script>