---
title: Quirky Clock
layout: fullscreen
max_width: true
---

<style>
* {
  background: transparent;
}
body {
  width: 100%;
  font-family: Helvetica, sans-serif;
  background-color: #2244a3;
  color: #fff;
}
#fullscreen {
	margin: 37px !important;
}
#clock_canvas {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  max-height: 1000px;
  min-width: 100px;
  min-height: 100px;
  padding: 0;
}
#clock {
  position: relative;
  background-size: contain;
  width: 100%; 
  max-width: 1000px;
  margin: 0;
  padding: 0;
  z-index: 1;
}
#stars, #earth, #sky, #seasons_dandelion,
#seasons_earth_tilt, #precession_background,
#precession_foreground, #sun, #moon, 
#seasons_wrapper, #zodiac_wrapper, #mercury, 
#venus, #mars, #jupiter, #saturn,
#uranus, #neptune, #pluto {
  position: absolute;
  width: 100%; 
  height: 100%; 
  max-width: 1000px;
  max-height: 1000px;
  margin: 0 auto;
  padding: 0;	
}
/* z-index is 50 if not retro, and 150 if it is retro */
#mercury, #venus, #mars, #jupiter, #saturn {
	z-index: 50; 
	display: none;
}
#sun {
  background-size: contain;
  z-index: 100;
}
#moon {
  background-size: contain;
  z-index: 200;
}
#earth {
  background-image: url("/assets/images/clock/8/horizon.png");
  background-size: contain;
  z-index: 0;
  opacity: 0.7;
}
#stars {
  background-image: url("/assets/images/clock/8/constellations.png");
  background-size: contain;
  z-index: -10;
}

#sky {
  background-image: url("/assets/images/clock/8/sky.png");
  background-size: contain;
  z-index: 0;
  opacity: 0;
} 
#seasons_dandelion {
  background-image: url("/assets/images/clock/8/seasons-cycle.png");
  background-size: contain;
  z-index: 0;
}
#seasons_earth_tilt {
  background-image: url("/assets/images/clock/8/seasons-earth-tilt.png");
  background-size: contain;
  z-index: 0;
}
#precession_background {
  background-image: url("/assets/images/clock/8/precession-background.png");
  background-size: contain;
  z-index: 0;
}
#precession_foreground {
  background-image: url("/assets/images/clock/8/precession-foreground.png");
  background-size: contain;
  z-index: 0;
}
#mercury {
  background-image: url("/assets/images/clock/8/planet-mercury.png");
  background-size: contain;	
}
#venus {
  background-image: url("/assets/images/clock/8/planet-venus.png");
  background-size: contain;
}
#mars {
  background-image: url("/assets/images/clock/8/planet-mars.png");
  background-size: contain;
}
#jupiter {
	background-image: url("/assets/images/clock/8/planet-jupiter.png");
  background-size: contain;
}
#saturn {
	background-image: url("/assets/images/clock/8/planet-saturn.png");
  background-size: contain;
}
#uranus, #neptune, #pluto {
	display: none;
}
#zodiac_wrapper {
	display: block;
}
</style>

<div id="quirky-clock">
	<div id="location-status">
		Loading 🌞 and 🌛 and ✨ data from the universe. Hold, please.
	</div>
	<div id="location-not-available"></div>
	<div id="clock_canvas">
		<div id="clock">
			<div id="zodiac_wrapper"><div id="stars"></div></div>
			<div id="earth"></div>
	    <div id="mercury"></div>
	    <div id="venus"></div>
	    <div id="mars"></div>
	    <div id="jupiter"></div>
	    <div id="saturn"></div>
	    <div id="uranus"></div>
	    <div id="neptune"></div>
	    <div id="pluto"></div>
			<div id="sky"></div>
			<div id="sun"></div>
			<div id="moon"></div>
			<div id="seasons_dandelion"></div>			
			<div id="seasons_earth_tilt"></div>			
			<div id="precession_background"></div>			
			<div id="precession_foreground"></div>			
		</div>
	</div>
	<div id="debug"></div>
</div>


<script type="text/javascript">
	var location_available = null;
	var debug = false;
	var clock_width = null;

	if (debug) {
		$('#debug').show();
	} else {
		$('#debug').hide();
	}

	//////////
	// FUNCTIONS 
	// - helper functions
	// 	 - adjust_azimuth 
	//	 - azimuth_to_clock_time
	//	 - date_to_time_string
	//	 - scale_the_clock 
	// 	 - suncalc_azimuth_converted
	// 	 - set_angle
	// - location (lat/long) 
	// 	 - update_clock 
	// 	 - no_location
	//	 - got_location
	// - sun data
	// 	 - get_sun_data 
	//   - get_rising_setting_for_sun_and_moon 
	// - planet data
	//	 - get_planet_data 
	//   - build_the_clock
	//	 - configure_constellations
	//	 - configure_seasons

	//////////
	// HELPER FUNCTIONS 
	// Adjust the sun's azimuth
	// - First convert the 0-360 degree azimuth to a -180-180 degree version, so 
	//   it matches with the sunrise and sunset azimuth numbers
	// - Then convert azimuth to the adjusted_az relative to sunrise and sunset
	// - Put them in the right quadrants
	// - Convert azimuth back to the 0-360 version
	function adjust_sun_azimuth(azimuth, clock_data) {
		console.log('ADJUST SUN AZIMUTH')
		// Get it into a format of -180 to 180 degrees
		var tmp_azimuth = azimuth > 180 ? azimuth - 360 : azimuth 

		$('#debug').append('<br /><br />SUN azimuth astronomy api: ' + clock_data['planets']['SUN']['azimith'])
		$('#debug').append('<br />SUN azimuth suncalc: ' + azimuth)
		$('#debug').append('<br />SUN offset: ' + clock_data['planets']['offset'])
		$('#debug').append('<br />SUN temp azimuth orig: ' + tmp_azimuth)
		
		// before sunrise or after sunset
		if (tmp_azimuth <= clock_data['suncalc']['sunrise_az'] || 
				tmp_azimuth > clock_data['suncalc']['sunset_az']) {
			$('#debug').append('<br />SUN quadrant: nighttime')

			if (tmp_azimuth <= clock_data['suncalc']['sunrise_az']) {
				clock_data['adjusted_az']['SUN'] = 
					-90 + ((tmp_azimuth - clock_data['suncalc']['sunrise_az']) * (1/clock_data['nighttime_deg_per_az']))
			} else {
				clock_data['adjusted_az']['SUN'] = 
					90 + ((tmp_azimuth - clock_data['suncalc']['sunset_az']) * (1/clock_data['nighttime_deg_per_az']))
			} 

		// daytime
		} else {
			$('#debug').append('<br />SUN quadrant: daytime')
			clock_data['adjusted_az']['SUN'] = tmp_azimuth * (1/clock_data['daytime_deg_per_az'])

		}
		// Convert back to the 0-360 azimuth number
		$('#debug').append('<br />SUN azimuth pre-conversion: '+clock_data['adjusted_az']['SUN'])
		clock_data['adjusted_az']['SUN'] = clock_data['adjusted_az']['SUN'] < 0 ? clock_data['adjusted_az']['SUN'] + 360 : clock_data['adjusted_az']['SUN']
		console.log(clock_data['adjusted_az']['SUN'])
		$('#debug').append('<br />SUN azimuth post-conversion: '+clock_data['adjusted_az']['SUN'])
		return clock_data
	}


	// Adjust a non-Sun azimuth to one that accounts for sunrise and sunset
	function adjust_azimuth(object_name, azimuth, clock_data) {

		// Get the difference between this planet and the sun's azimuth, convert it to -180-180 degrees
		// This is using the sun az from the same source, so will need to shift it by the offset at some point
		var azimuth_diff_from_sun = azimuth - clock_data['planets']['SUN']['azimith'] // clock_data['suncalc']['sun_az']

		$('#debug').append('<br /><br />'+object_name+' azimuth orig: '+azimuth)
		$('#debug').append('<br />SUN azimuth: '+clock_data['planets']['SUN']['azimith'])
		$('#debug').append('<br />'+object_name+' azimuth diff: '+azimuth_diff_from_sun)

		if (azimuth_diff_from_sun < -180) {
			azimuth_diff_from_sun = azimuth_diff_from_sun + 360
		} else if (azimuth_diff_from_sun > 180) {
			azimuth_diff_from_sun = azimuth_diff_from_sun - 360
		}
		$('#debug').append('<br />'+object_name+' azimuth diff corrected: '+azimuth_diff_from_sun)		

		// Bottom left relative to sun
		if (azimuth_diff_from_sun <= clock_data['suncalc']['sunrise_az']) {
			$('#debug').append('<br />'+object_name+' relative to sun: bottom left ◵')
			clock_data['adjusted_az'][object_name] = 
				clock_data['adjusted_az']['SUN'] - 90 +
				((azimuth_diff_from_sun - clock_data['suncalc']['sunset_az']) * 
				(1/clock_data['nighttime_deg_per_az']))

		// Top left relative to sun
		} else if (azimuth_diff_from_sun <= 0) {
			$('#debug').append('<br />'+object_name+' relative to sun: top left ◴')

			clock_data['adjusted_az'][object_name] = 
				clock_data['adjusted_az']['SUN'] -
				(azimuth_diff_from_sun * (1/clock_data['daytime_deg_per_az']))

		// Top right relative to sun
		} else if (azimuth_diff_from_sun <= clock_data['suncalc']['sunset_az']) {
			$('#debug').append('<br />'+object_name+' relative to sun: top right ◷')

			clock_data['adjusted_az'][object_name] = 
				clock_data['adjusted_az']['SUN'] -
				(azimuth_diff_from_sun * (1/clock_data['daytime_deg_per_az']))

		// Bottom right relative to sun
		} else {
			$('#debug').append('<br />'+object_name+' relative to sun: bottom right ◶')
			clock_data['adjusted_az'][object_name] = 
				90 - clock_data['adjusted_az']['SUN'] +
				((azimuth_diff_from_sun - clock_data['suncalc']['sunset_az']) * 
				(1/clock_data['nighttime_deg_per_az']))

		}

		if (clock_data['adjusted_az'][object_name] <= -90) {
			$('#debug').append('<br />'+object_name+' relative to south: bottom left ◵')			
		} else if (clock_data['adjusted_az'][object_name] <= 0) {
			$('#debug').append('<br />'+object_name+' relative to south: top left ◴')			
		} else if (clock_data['adjusted_az'][object_name] <= 90) {
			$('#debug').append('<br />'+object_name+' relative to south: top right ◷')			
		} else {
			$('#debug').append('<br />'+object_name+' relative to south: bottom right ◶')			
		}

		if (clock_data['adjusted_az'][object_name] < -180) {
			clock_data['adjusted_az'][object_name] = clock_data['adjusted_az'][object_name] + 360
		} else if (clock_data['adjusted_az'][object_name] > 180) { 
			clock_data['adjusted_az'][object_name] = clock_data['adjusted_az'][object_name] - 360
		}
		$('#debug').append('<br /><strong>'+object_name+' ADJUSTED AZ: '+clock_data['adjusted_az'][object_name]+'</strong>')
		return clock_data;
	}

	// Degrees clockwise from North (Down)
	function azimuth_to_clock_time(azimuth) {
		if (azimuth >= 0) {
			return azimuth / 30;
		} else {
			return 12 - (-azimuth / 30);
		}
	}

	// HELPER: date to time string
	function date_to_time_string(d) {
		return d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes();
	}

	// HELPER: resize the clock to fit the window
	function scale_the_clock() {
    clock_width = $('#clock').width();
    $("#clock").css('height', clock_width);
	}

	// HELPER: convert azimuth
	// There are two different kinds of azimuth apparently
	// The one we want is... clockwise from south/up (not a weird number unrelated to degrees)
	function suncalc_azimuth_converted(azimuth) {
		// console.log('azimuth before: '+azimuth)
		var converted_azimuth = azimuth * 180 / Math.PI;
		// console.log('azimuth after: '+converted_azimuth)
		return converted_azimuth;
	}

	// HELPER: set angle for a celestial body on the clock
	function set_angle(wrapper, angle) {
		debug ? console.log('ROTATING '+wrapper+" by "+angle) : null 
		var rotate_string = "rotate(" + parseInt(angle) + "deg)";
  	$(wrapper).css('transform', rotate_string);
	}

	//////////
	// GET LOCATION FIGURED OUT
	// Initial function that is run when location is retrieved from the browser
	function update_clock() {
		if (navigator.geolocation) {

			navigator.geolocation.getCurrentPosition(got_location, no_location);
			// got_location({'coords': {'latitude': 37.8573003, 'longitude': -122.2784977}})
		} else {
			$('#location-status').html("Please allow location to be accessed and reload the page.");
			$('#location-not-available').html("no 1: "+navigator.geolocation);
			console.log('location not available: using pacific time');
			// lat: 37.8573003, long: -122.2784977
			got_location({'coords': {'latitude': 37.8573003, 'longitude': -122.2784977}})
			location_available = false;
		};
	}

	// LOCATION: NO -  When we don't have a location
	// Called from update_clock()
	function no_location(err) {
		location_available = false;
		$('#location-status').html("Please allow location to be accessed and reload the page.");
		$('#location-not-available').html("geolocation error: "+`ERROR(${err.code}): ${err.message}`);
		console.log('location not available');
		window.setTimeout(update_clock, 60000);
	};

	// LOCATION: YES - Update the clock with the location
	// Called from update_clock()
	// Calls SunCalc
	// - get sun and moon times for the current location
	function got_location(pos) {
		$('#location-status').hide();

		location_available = true;
		var latitude = pos.coords.latitude;
		var longitude = pos.coords.longitude;
		var now = new Date();
		var yesterday = new Date();
				yesterday.setDate(yesterday.getDate()-1);
		var tomorrow = new Date();
				tomorrow.setDate(tomorrow.getDate()+1);

		// Get yesterday, today, and tomorrow
		var day_shift = 0;
		var hour_shift = 0;
		now.setDate(now.getDate() + day_shift)
		now.setHours(now.getHours() + hour_shift);
		yesterday.setDate(yesterday.getDate() + day_shift)
		yesterday.setHours(yesterday.getHours() + hour_shift);
		tomorrow.setDate(tomorrow.getDate() + day_shift)
		tomorrow.setHours(tomorrow.getHours() + hour_shift);

		var year_start = new Date(now.getFullYear(), 0, 0);
		var diff = now - year_start;
		var oneDay = 1000 * 60 * 60 * 24;
		var day_of_year = Math.floor(diff / oneDay);
		
		// Get sun and moon data from calculations
		var sunTimes = SunCalc.getTimes(now, latitude, longitude);
		var moonTimes = SunCalc.getMoonTimes(now, latitude, longitude);
		var using = 'today'
		if (now >= sunTimes.sunset) {
			sunTimes = SunCalc.getTimes(tomorrow, latitude, longitude);
			using = 'tomorrow'
		} 

		var debug_current_time = date_to_time_string(now); // for debug
		$('#debug').append("<br />The time is: "+debug_current_time);
		$('#debug').append("<br />The day we're using is: "+using);
		$('#debug').append("<br />The date is: "+now);

		// All sun and moon data we can use to build the clock
		var suncalc_get_sun  = SunCalc.getPosition(now, latitude, longitude)
		var suncalc_get_moon = SunCalc.getMoonPosition(now, latitude, longitude)

		var clock_data = {
			now: now,
			yesterday: yesterday,
			tomorrow: tomorrow,
			using: using,
			day_of_year: day_of_year,

			// What are these used for? Figuring out the tilt of the earth and how
			// it affects the time of sunrise and sunset.
			suncalc: {

				// Sun
				// needed? sun_data: sunTimes,
				sunrise: sunTimes.sunrise,
				sunset: sunTimes.sunset,
				// needed? sun_pos: suncalc_get_sun,
				sun_az_from_api: suncalc_get_sun['azimuth'],
				sun_az: suncalc_azimuth_converted(suncalc_get_sun['azimuth']), // not real azimuth

				// Moon 
				moon_data: moonTimes, // needed for moon rise and set times
				moon_pos: suncalc_get_moon,
				moon_az_from_api: suncalc_get_moon['azimuth'],
				moon_az: suncalc_azimuth_converted(suncalc_get_moon['azimuth']) // not real azimuth
			},
			// This is where azimuth is adjusted relative to the sun
			adjusted_az: {}
		}
		$('#debug').append("<br />SUN TIME: ", now);
		$('#debug').append("<br />SUN AZIMUTH: "+clock_data.suncalc.sun_az);
		$('#sun').css('background-image', 'url("/assets/images/clock/8/sun.png")');

		if (using == 'tomorrow') {
			get_sun_data(clock_data, latitude, longitude, now.toISOString().split('T')[0])
		} else {
			get_sun_data(clock_data, latitude, longitude, now.toISOString().split('T')[0])
		}
	};


	//////////
	// SUN DATA 
	// Date is in yyyy-mm-dd format
	function get_sun_data(data, lat, long, date) {
		var url = "https://api.ipgeolocation.io/astronomy?apiKey=7af9a1e42c9a41f9b2e099f8776575d6&lat="+lat+"&long="+long+"&date="+date
		console.log('URL: '+url)

		fetch(url)
  		.then((response) => response.json())
  		.then(function (json) {
  			// console.log('sun and moon data: ')
  			// console.log(json)
  			// needed? data['sun_moon_data'] = json
  			// needed? data['location'] = json['location']
  			data['current_time'] = json['current_time']
  			data['date'] = json['date']
  			data['day_length'] = json['day_length']
  			data['moon'] = {
  				'azimuth': json['moon_azimuth'],
  				'rise': (json['moonrise'] == '-:-' ? '23:59' : json['moonrise']),
  				'set': (json['moonset'] == '-:-' ? '23:59' : json['moonset'])
  			}
  			data['sun'] = {
  				'azimuth': json['sun_azimuth'],
  				'rise': json['sunrise'],
  				'set': json['sunset']
  			}
  			data = get_rising_setting_for_sun_and_moon(data, lat, long)
  			debug ? console.log('Sun data:') : null;
  			debug ? console.log(data) : null;
  			get_planet_data(data, lat, long, date);
  		});
	}

	// SUN: RISING AND SETTING 
	function get_rising_setting_for_sun_and_moon(clock_data, latitude, longitude) {
		
		// Sunrise 
		var sunrise = new Date(Date.parse(clock_data['date']+'T'+clock_data['sun']['rise']+':00'))

		// FIXME: Getting the lat/long for the sun at time of sunrise. 
		var sunriseStr = date_to_time_string(sunrise) // date_to_time_string(sunTimes.sunrise);
		var sunrisePos = SunCalc.getPosition(sunrise, latitude, longitude);
		clock_data['suncalc']['sunrise_pos'] = sunrisePos;
		clock_data['suncalc']['sunrise_az'] = suncalc_azimuth_converted(sunrisePos['azimuth'])

		// Sunset time
		var sunset = new Date(Date.parse(clock_data['date']+'T'+clock_data['sun']['set']+':00'))

		// Sunset lat/long 
		var sunsetStr = date_to_time_string(sunset);
		var sunsetPos = SunCalc.getPosition(sunset, latitude, longitude);
		clock_data['suncalc']['sunset_pos'] = sunsetPos;
		clock_data['suncalc']['sunset_az'] = suncalc_azimuth_converted(sunsetPos['azimuth'])

		$('#debug').append("<br /><br />SUNRISE AZIMUTH: "+clock_data['suncalc']['sunrise_az']);
		$('#debug').append("<br />SUNSET AZIMUTH: "+clock_data['suncalc']['sunset_az']);
		clock_data['daytime_az'] = -clock_data['suncalc']['sunrise_az'] + clock_data['suncalc']['sunset_az']
		clock_data['nighttime_az'] = 360 - clock_data['daytime_az'] 
		clock_data['daytime_deg_per_az'] = clock_data['daytime_az']/180
		clock_data['nighttime_deg_per_az'] = clock_data['nighttime_az']/180
		$('#debug').append("<br />DAYTIME AZ: "+clock_data['daytime_az']);
		$('#debug').append("<br />NIGHTTIME AZ: "+clock_data['nighttime_az']);
		$('#debug').append("<br />DAYTIME DEG PER AZ: "+clock_data['daytime_deg_per_az']);
		$('#debug').append("<br />NIGHTTIME DEG PER AZ: "+clock_data['nighttime_deg_per_az']);

		if (clock_data.suncalc.sun_az < clock_data['suncalc']['sunrise_az']) {
			$('#debug').append("<br />SUN LOCATION: Before dawn");
		} else if (clock_data.suncalc.sun_az >= clock_data['suncalc']['sunrise_az'] && 
							 clock_data.suncalc.sun_az < clock_data['suncalc']['sunset_az']) {
			$('#debug').append("<br />SUN LOCATION: Day");
		} else {
			$('#debug').append("<br />SUN LOCATION: After sunset");
		}

		// Before sunrise: from midnight (-180) to sunrise (sunrize_az)
		if (clock_data['suncalc']['sun_az'] < clock_data['suncalc']['sunrise_az']) {
			$('body').css('background-color', '#2244a3');
			var segment_length = 180 + clock_data['suncalc']['sunrise_az']; 
			var remaining_length = segment_length - (180 + clock_data['suncalc']['sun_az']);
			var percent_through = (segment_length-remaining_length)/segment_length;
			var percent_remaining = 1 - percent_through;

			if (percent_remaining > 0.05) {
				$('#sky').css('opacity', 0.7);
			} else if (percent_remaining <= 0.05) {
				var opacity = 0.7-(0.7*(percent_remaining / 0.05));
				$('#sky').css('opacity', opacity);
			} else {
				$('#sky').css('opacity', 0.7);			
			}

		// After sunset: from sunset (sunset_az) to midnight (180)
		} else if (clock_data['suncalc']['sun_az'] > clock_data['suncalc']['sunset_az']) {
			$('body').css('background-color', '#2244a3');
			var segment_length = 180 - clock_data['suncalc']['sunset_az'];
			var remaining_length = 180 - clock_data['suncalc']['sun_az'];
			var percent_through = (segment_length-remaining_length)/segment_length;

			if (percent_through > 0.05) {
				$('#sky').css('opacity', 0);
			} else if (percent_through <= 0.05) {
				var opacity = 0.7-(0.7*(percent_through / 0.05));
				$('#sky').css('opacity', opacity);
			} else {
				$('#sky').css('opacity', 0.7);			
			}

		// During the day: from sunrise to sunset
		} else {
			$('body').css('background-color', '#6278C6');
			$('#sky').css('opacity', 0.7);			
			var segment_length = -clock_data['suncalc']['sunrise_az'] + clock_data['suncalc']['sunset_az'];
			var remaining_length;
			if (clock_data['suncalc']['sun_az'] < 0) {
				remaining_length = segment_length - (clock_data['suncalc']['sun_az'] - clock_data['suncalc']['sunrise_az'])
			} else {
				remaining_length = clock_data['suncalc']['sunset_az'] - clock_data['suncalc']['sun_az']
			}
			var percent_through = (segment_length-remaining_length)/segment_length;
		}		
		return clock_data;
	}

	//////////
	// PLANET DATA
	function get_planet_data(data, lat, long, date) {
		const user_id = '{{ site.env.ASTROLOGY_USER_ID }}'; 
		const api_key = '{{ site.env.ASTROLOGY_API_KEY }}';
		const auth = "Basic " + btoa(user_id + ":" + api_key);
		const date_bits = data['date'].split("-");
		const time_bits = data['current_time'].split(":");
		var time_zone = -7
		// Send the request
		// Get tzone from https://astrologyapi.com/docs/api-ref/92/timezone_with_dst
		var timezone_request = $.ajax({
			url: "https://json.astrologyapi.com/v1/timezone_with_dst",
			method: "POST",
			dataType:'json',
			headers: {
		    "authorization": auth,
		    "Content-Type":'application/json'
			},
	    data: JSON.stringify({
	    	'latitude': lat,
	    	'longitude': long,
	    	'date': data['date']
	    })
		});

		timezone_request.then( 
			function(resp){
				time_zone = resp['timezone']
			},
			function(err){
				console.log('planet error: ')
	    	console.log(err);
			}
		);

		var planet_data = {
					'day': date_bits[2],
					'month': date_bits[1],
					'year': date_bits[0],
					'hour': time_bits[0],
					'min': time_bits[1],
					'lat': lat,
					'lon': long,
					'tzone': time_zone
				}
		var request = $.ajax({
			url: "https://json.astrologyapi.com/v1/planets/extended",
			method: "POST",
			dataType:'json',
			headers: {
		    "authorization": auth,
		    "Content-Type":'application/json'
			},
	    data: JSON.stringify(planet_data)
		});

		request.then( 
			function(resp){
				// fullDegree: 58.62370106968824 // azimuth
				// house: 1
				// id: 12
				// isRetro: false
				// nakshatra: "Mrigshira"
				// nakshatraLord: "Mars"
				// nakshatra_pad: 2
				// name: "Ascendant"
				// normDegree: 28.623701069688238
				// sign: "Taurus"
				// signLord: "Venus"
				// speed: 0
	    	data['planets_raw'] = {
	    		'SUN': resp[0],
	    		'MOON': resp[1],
	    		'MARS': resp[2],
	    		'MERCURY': resp[3],
	    		'JUPITER': resp[4],
	    		'VENUS': resp[5],
	    		'SATURN': resp[6],
	    		'URANUS': resp[9],
	    		'NEPTUNE': resp[10],
	    		'PLUTO': resp[11],
	    		'ASCENDANT': resp[12]
	    	}
	    	data['planets'] = {
	    		'offset': null,
	    		'SUN': {'azimuth': null, 'uncorrected_az': null},
	    		'MOON': {'azimuth': null, 'uncorrected_az': null},
	    		'MERCURY': {'azimuth': null, 'uncorrected_az': null, 'L': 13, 'M': 8, 'S': 4},
	    		'VENUS': {'azimuth': null, 'uncorrected_az': null, 'L': 66, 'M': 38, 'S': 10},
	    		'MARS': {'azimuth': null, 'uncorrected_az': null, 'L': 25, 'M': 11, 'S': 4},
	    		'SATURN': {'azimuth': null, 'uncorrected_az': null, 'L': 20, 'M': 17, 'S': 14},
	    		'JUPITER': {'azimuth': null, 'uncorrected_az': null, 'L': 47, 'M': 38, 'S': 30},
	    		'URANUS': {'azimuth': null, 'uncorrected_az': null, 'L': 4, 'M': 3, 'S': 3},
	    		'NEPTUNE': {'azimuth': null, 'uncorrected_az': null, 'L': 2, 'M': 2, 'S': 2},
	    		'PLUTO': {'azimuth': null, 'uncorrected_az': null, 'L': 1, 'M': 1, 'S': 1}
	    	}

				// Figure out the correction based on the sun's location
	    	// Convert az that is clockwise from N (down) to clockwise from S (up) (0-180 degrees)

	    	// FIX ME I AM BROKENNNN 
	    	// if (data['planets_raw']['SUN']['fullDegree'] <= 180) {
	    	// 	data['planets']['SUN']['uncorrected_az'] = 180 - data['planets_raw']['SUN']['fullDegree']
		    // 	data['planets']['offset'] = data['suncalc']['sun_az'] - data['planets']['SUN']['uncorrected_az']

	    	// // Convert az that is counter-clockwise from N (down) to clockwise from S (up) (180-360 degrees)
	    	// } else {
	    	// 	data['planets']['SUN']['uncorrected_az'] = (360 - data['planets_raw']['SUN']['fullDegree']) + 180
		    // 	data['planets']['offset'] = data['suncalc']['sun_az'] - data['planets']['SUN']['uncorrected_az']
	    	// }
    		// data['planets']['SUN']['azimuth'] = (data['planets']['SUN']['uncorrected_az'] + data['planets']['offset'])

	    	// Just shift azimuth 180 degrees to orient around south instead of north
	    	if (data['planets_raw']['SUN']['fullDegree'] < 180) {
	    		data['planets']['SUN']['azimith'] = data['planets_raw']['SUN']['fullDegree'] + 180
	    	} else {
	    		data['planets']['SUN']['azimith'] = data['planets_raw']['SUN']['fullDegree'] - 180	    		
	    	}

	    	// Calculate the difference between the suncalc azimuths and the more reliable ones we get for the sun and the moon.
    		data['planets']['offset'] = data['suncalc']['sun_az'] - data['planets']['SUN']['azimith']
	    	
    		// Update the sun's position first
    		console.log('SUN ANGLE: '+data['suncalc']['sun_az'])

				data = adjust_sun_azimuth(data['suncalc']['sun_az'], data)
				console.log('adjusted: ')
				console.log(data.adjusted_az['SUN'])
				set_angle('#sun', data['adjusted_az']['SUN']) 

    		// Convert fullDegree into uncorrected_az
    		var planets = ['MOON', 'MERCURY','VENUS','MARS','JUPITER','SATURN']; //,'URANUS','NEPTUNE','PLUTO'
    		console.log('PLANETS_RAW')
    		console.log(data['planets_raw'])
				for (var i = 0; i < planets.length; i++) {
				  var planet = planets[i];
				  console.log('PLANET: '+planet)
				  console.log(data['planets_raw'][planet])
		    	if (data['planets_raw'][planet]['fullDegree'] < 180) {
		    		data['planets'][planet]['uncorrected_az'] = data['planets_raw'][planet]['fullDegree'] + 180
		    	} else {
		    		data['planets'][planet]['uncorrected_az'] = data['planets_raw'][planet]['fullDegree'] - 180	    		
		    	}

		    	console.log('AZIMUTH FOR '+planet)
	    		// data['planets'][planet]['azimuth'] = (data['planets'][planet]['uncorrected_az'])
					console.log('unadjusted: ')
		    	console.log(data['planets'][planet]['uncorrected_az'])

					data = adjust_azimuth(planet, data['planets'][planet]['uncorrected_az'], data)
					console.log('adjusted: ')
					console.log(data.adjusted_az[planet])
					$('#'+planet.toLowerCase()).show();
					set_angle('#'+planet.toLowerCase(), data.adjusted_az[planet]);

					// change z-index if this is in retro
					if (planet == 'MOON') {
						// do nothing to z-index
					} else if (data.planets_raw[planet].isRetro == 'true') {
						debug ? console.log(planet+': '+data.planets_raw[planet].isRetro) : null
						$('#'+planet.toLowerCase()).css('z-index', 150);
					} else {
						$('#'+planet.toLowerCase()).css('z-index', 50);
					}
				}
				
	    	build_the_clock(data, lat, long, date)
			}, 
			function(err){
				console.log('planet error: ')
	    	console.log(err);
			}
		);
	}

	function build_the_clock(clock_data, lat, long, date) {
		console.log('function build_the_clock')

		var moon_illumination = SunCalc.getMoonIllumination(clock_data['now']);
		clock_data['moon']['illumination_fraction'] = moon_illumination.fraction;
		clock_data['moon']['illumination_phase'] = moon_illumination.phase;
		clock_data['moon']['illumination_angle'] = moon_illumination.angle;

		// 0.95 - 0.05 (10) new
		if (clock_data['moon']['illumination_phase'] < 0.05 || clock_data['moon']['illumination_phase'] >= 0.95) {
			$('#moon').css('background-image','url("/assets/images/clock/8/moon-new.png")')
			$('#moon').css('opacity',0.3)

		// 0.05 - 0.15 (15) crescent
		} else if (clock_data['moon']['illumination_phase'] < 0.2) {
			$('#moon').css('background-image','url("/assets/images/clock/8/moon-waning-3.png")')
			$('#moon').css('opacity',1)

		// 0.15 - 0.25 (10) half (10)
		} else if (clock_data['moon']['illumination_phase'] < 0.3) {
			$('#moon').css('background-image','url("/assets/images/clock/8/moon-waning-2.png")')
			$('#moon').css('opacity',1)

		// 0.25 - 0.45 (15) gibbous
		} else if (clock_data['moon']['illumination_phase'] < 0.45) {
			$('#moon').css('background-image','url("/assets/images/clock/8/moon-waning-1.png")')
			$('#moon').css('opacity',1)

		// 0.45 - 0.55 (10) full
		} else if (clock_data['moon']['illumination_phase'] < 0.55) {
			$('#moon').css('background-image','url("/assets/images/clock/8/moon-full.png")')
			$('#moon').css('opacity',1)

		// 0.55 - 0.65 (15) gibbous
		} else if (clock_data['moon']['illumination_phase'] < 0.7) {
			$('#moon').css('background-image','url("/assets/images/clock/8/moon-waxing-1.png")')
			$('#moon').css('opacity',1)

		// 0.65 - 0.85 (10) half
		} else if (clock_data['moon']['illumination_phase'] < 0.8) {
			$('#moon').css('background-image','url("/assets/images/clock/8/moon-waxing-2.png")')
			$('#moon').css('opacity',1)

		// 0.75 - 0.95 (15) crescent
		} else if (clock_data['moon']['illumination_phase'] < 0.95) {
			$('#moon').css('background-image','url("/assets/images/clock/8/moon-waxing-3.png")')
			$('#moon').css('opacity',1)

		}

		configure_constellations(clock_data)
		configure_seasons(clock_data)
		window.setTimeout(update_clock, 60000);
	}

	function configure_constellations(clock_data) {
		var constellation_angle = (clock_data['day_of_year']-79)/365.25*360;
		set_angle('#zodiac_wrapper', clock_data['suncalc']['sun_az']+constellation_angle);		
	}

	function configure_seasons(clock_data) {
		var season = 0; // 0 = summer, 1 = fall, 2 = winter, 3 = spring
		var day_of_season = 0;
		var seasons_degree = 0;
		var seasons_tilt = 0.0;
		var season_length = 0;
		var day_of_year_jun, day_of_year_sep, day_of_year_dec, day_of_year_mar = 0;
		var leap_year = false;
		day_of_year_mar = 79;
		day_of_year_jun = 170;
		day_of_year_sep = 263;
		day_of_year_dec = 355;
		var leap_year_modulus = clock_data['now'].getFullYear() % 4; // leap year = 0
		if (leap_year_modulus = 0) {
			leap_year = true;
			day_of_year_mar = 80;
			day_of_year_jun = 171;
			day_of_year_sep = 264;
			day_of_year_dec = 356;
		} 
		// March/Spring Equinox occurs on March 21 (day 79, 92 days)
		// June/Summer Solstice occurs on June 21 (day 171, 92 days)
		// September/Autumn Equinox occurs on September 21 (day 263, 91 days)
		// December/Winter Solstice occurs on Dec 21 (day 355, 90 days without leap year)
		// Calculate the day of the season that it is and translat it to degrees
		if (clock_data['day_of_year'] >= day_of_year_jun && clock_data['day_of_year'] < day_of_year_sep) {
			// console.log('Summer');
			day_of_season = clock_data['day_of_year'] - day_of_year_jun;
			length_of_season = day_of_year_sep - day_of_year_jun;
			seasons_degree = -90 - ((day_of_season / length_of_season) * 90);
			seasons_tilt = -23.4 + (day_of_season / length_of_season)*23.4;

		} else if (clock_data['day_of_year'] >= day_of_year_sep && clock_data['day_of_year'] < day_of_year_dec) {
			// console.log('Fall');
			day_of_season = clock_data['day_of_year'] - day_of_year_sep;
			length_of_season = day_of_year_dec - day_of_year_sep;
			seasons_degree = -180 - ((day_of_season / length_of_season) * 90);
			seasons_tilt = (day_of_season / length_of_season)*23.4;

		} else if (clock_data['day_of_year'] >= day_of_year_dec) {
			// console.log('Winter 1');
			season = 'winter';
			day_of_season = clock_data['day_of_year'] - day_of_year_dec;
			if (leap_year_modulus == 3) {
				length_of_season = day_of_year_mar - day_of_year_dec + 1;
			} else {
				length_of_season = day_of_year_mar - day_of_year_dec;				
			}
			seasons_degree = -270 - ((day_of_season / length_of_season) * 90);
			seasons_tilt = 23.4 - (day_of_season / length_of_season)*23.4;

		} else if (clock_data['day_of_year'] < day_of_year_mar) {
			// console.log('Winter 2');
			season = 'winter';
			day_of_season = 12 + clock_data['day_of_year'];
			if (leap_year_modulus == 0) {
				length_of_season = 12 + day_of_year_mar + 1;
			} else {
				length_of_season = 12 + day_of_year_mar;				
			}
			seasons_degree = -270 - ((day_of_season / length_of_season) * 90);
			seasons_tilt = 23.4 - (day_of_season / length_of_season)*23.4;

		} else if (clock_data['day_of_year'] >= day_of_year_mar && clock_data['day_of_year'] < day_of_year_jun) {
			// console.log('Spring');
			day_of_season = clock_data['day_of_year'] - day_of_year_mar;
			length_of_season = day_of_year_jun - day_of_year_mar;
			seasons_degree = -((day_of_season / length_of_season) * 90);
			seasons_tilt = -(day_of_season / length_of_season)*23.4;
		}

		// The earth's tilt
		set_angle('#seasons_earth_tilt', seasons_tilt);
		set_angle('#seasons_dandelion', seasons_tilt+seasons_degree);		

		// Precession + Earth's tilt
		true_year = 9700 + clock_data['now'].getFullYear();
		true_degrees = (true_year / 25771)*360;
		set_angle('#precession_foreground', true_degrees+seasons_tilt);
		set_angle('#precession_background', seasons_tilt);		
	}

	$(document).ready(function() {
    scale_the_clock();
    $(window).bind('resize', scale_the_clock);
		update_clock();
	});
</script>