---
title: Quirky Clock
layout: fullscreen
max_width: true
---

<style>
body {
  width: 100%;
  font-family: Helvetica, sans-serif;
}
#clock_canvas {
  position: relative;
  color: #333;
  margin: 0;
  padding: 0;
}
#clock {
  background-image: url("/assets/images/clock/clock-bg-minimal.png");
  background-size: contain;
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding: 0;
}
#hour_wrapper, #min_wrapper {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.hand {
  position: absolute;
  bottom: 50%;
	transform-origin: center;
	/* border: 1px solid #000;*/
}
#sun {
  left: 160px;
  height: 168px;
}
#moon {
  left: 160px;
  height: 153px;
}
#sun:before {
	background: transparent;
  content: "🌞";
  display: block;
  position: absolute;
  font-size: 50px;
  top: 0px;
  left: 0px; // half of font-size?
  width: 50px;
  height: 50px;	
}
#moon:before {
	background: transparent;
  content: "🌕";
  display: block;
  position: absolute;
  font-size: 30px;
  top: 0px;
  left: 0px; // half of font-size?
  width: 30px;
  height: 30px;	
}
#sun:after {
/*  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  width: 13px;
  height: 16px;
*/
}
#moon:after {
/*  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  width: 13px;
  height: 16px;
*/
}
</style>

<div>

	<div id="moon_styles"></div>
	<div id="moon_height"></div>

	<div id="location_status">
		Loading 🌞 and 🌛 data from the universe. Hold, please.
	</div>

	<div id="clock_canvas" style="display: none;">
		<div id="clock">
	    <div id='hour_wrapper'>
	      <div id="sun" class='hand hour'></div>
	    </div>
	    <div id='min_wrapper'>
	      <div id="moon" class='hand min'></div>
	    </div>
		</div>
	</div>

	<div id="location_loaded" style="display: none;"> 
		<p>
			<div>lat: <span id="location_lat"></span></div>
			<div>long: <span id="location_long"></span></div>
		</p>
		<p>
			<div>Current relative sun time: <span id="relative_sun_time"></span></div>
			<div>Current relative moon time: <span id="relative_moon_time"></span></div>
		</p>
		<p>
	 		<div>Now: <span id="now_string"></span></div>
			<div>Now Sun Time: <span id="now_time"></span></div>
			<div>Now Sun Animal: <span id="now_sun_animal"></span></div>
			<div>Now Sun azimuth: <span id="now_azimuth"></span></div>
			<div>Now Sun altitude: <span id="now_altitude"></span></div>
			<div>Now Moon height above Sun: <span id="now_moon_relative_altitude"></span></div>
		</p>
		<p>
			<div>Now Moon Time: <span id="now_moon_time"></span></div>
			<div>Now Moon Animal: <span id="now_moon_animal"></span></div>
			<div>Now Moon azimuth: <span id="now_moon_azimuth"></span></div>
			<div>Now Moon altitude: <span id="now_moon_altitude"></span></div>
			<div>Now Moon distance: <span id="now_moon_distance"></span></div>
			<div>Now Moon parallactic: <span id="now_moon_parallactic"></span></div>
			<div>Now Moon fraction: <span id="now_moon_fraction"></span></div>
			<div>Now Moon phase: <span id="now_moon_phase"></span></div>
			<div>Now Moon angle: <span id="now_moon_angle"></span></div>
		</p>
		<p>
	 		<div>Sunrise begins: <span id="sunrise_string"></span></div>
			<div>Sunrise Time: <span id="sunrise_time"></span></div>
			<div>Sunrise azimuth: <span id="sunrise_azimuth"></span></div>
			<div>Sunrise altitude: <span id="sunrise_altitude"></span></div>
		</p>
		<p>
	 		<div>Solar noon: <span id="solarnoon_string"></span></div>
			<div>Solar noon time: <span id="solarnoon_time"></span></div>
			<div>Solar noon azimuth: <span id="solarnoon_azimuth"></span></div>
			<div>Solar noon altitude: <span id="solarnoon_altitude"></span></div>
		</p>
		<p>
	 		<div>Sunset ends: <span id="sunset_string"></span></div>
			<div>Sunset time: <span id="sunset_time"></span></div>
			<div>Sunset azimuth: <span id="sunset_azimuth"></span></div>
			<div>Sunset altitude: <span id="sunset_altitude"></span></div>
		</p>

		<p>
	 		<div>Moonrise begins: <span id="moonrise_string"></span></div>
			<div>Moonrise time: <span id="moonrise_time"></span></div>
			<div>Moonrise azimuth: <span id="moonrise_azimuth"></span></div>
			<div>Moonrise altitude: <span id="moonrise_altitude"></span></div>
		</p>
		<p>
	 		<div>Moonset ends: <span id="moonset_string"></span></div>
			<div>Moonset time: <span id="moonset_time"></span></div>
			<div>Moonset azimuth: <span id="moonset_azimuth"></span></div>
			<div>Moonset altitude: <span id="moonset_altitude"></span></div>
		</p>
	</div> 

</div>
 
<script type="text/javascript">
	var location_available = null;

	function azimuth_to_clock_time(azimuth) {
		if (azimuth >= 0) {
			return azimuth / 30;
		} else {
			return 12 - (-azimuth / 30);
		}
	}

	function date_to_time_string(d) {
		return d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes();
	}

	function get_relative_time(rise, set, now) {
		var day_or_night = null;
		var day_length = -rise + set;
		var night_length = 360-day_length;
		var day_min_length = day_length / 30;
		var night_min_length = night_length / 30;

		var now_distance_from_rise = now - rise;
		var now_distance_from_set = now - set;

		// Night time before sunrise
		if (now < rise) {
			var now_ticks_before_rise = now_distance_from_rise / night_min_length;
			day_or_night = 'night';
			if (now_ticks_before_rise < 16) {
				return now_ticks_before_rise + 45;
			} else {
			  return now_ticks_before_rise - 15;
			}

		// Night time after sunset
		} else if (now > set) {
			var now_ticks_after_set = now_distance_from_set / night_min_length;
			day_or_night = 'night';
			if (now_ticks_after_set > 45) {
				return now_ticks_after_set - 45;
			} else {
			  return now_ticks_after_set + 15;
			}

		// Day time
		} else {
			var now_ticks_past_rise = now_distance_from_rise / day_min_length;
			day_or_night = 'day';
			if (now_ticks_past_rise < 16) {
				return now_ticks_past_rise + 45;
			} else {
				return now_ticks_past_rise - 15;
			}
		}
	}

	function get_wadokei_from_relative_time(relative_minutes) {
		var wadokei_hour = Math.round(relative_minutes / 5);
		var wadokei_animals = [
			'Rabbit','Dragon','Snake','Horse','Goat','Monkey',
			'Rooster','Dog','Pig','Rat','Ox','Tiger'
		];
		return wadokei_animals[wadokei_hour];
	}

	function setAngle(wrapper, angle) {
		$(wrapper).css('color: #f00;');
		var rotate_string = "rotate(" + parseInt(angle) + "deg)";
  	$(wrapper).css('transform', rotate_string);
	}

	function got_location(pos) {
		location_available = true;
		$('#location_status').hide();
		$('#clock_canvas').show();
		
		var latitude = pos.coords.latitude;
		var longitude = pos.coords.longitude;
		$('#location_on_yes').html("yes: "+pos);
		console.log(pos);
		$('#location_long').html(pos.coords.longitude);
		$('#location_lat').html(pos.coords.latitude);
		var now = new Date();
		var yesterday = new Date();
		yesterday.setDate(yesterday.getDate()-1);
		var tomorrow = new Date();
		tomorrow.setDate(tomorrow.getDate()+1);

		// add days and hours
		var day_shift = 0;
		var hour_shift = 0;
		now.setDate(now.getDate() + day_shift)
		now.setHours(now.getHours() + hour_shift);
		yesterday.setDate(yesterday.getDate() + day_shift)
		yesterday.setHours(yesterday.getHours() + hour_shift);
		tomorrow.setDate(tomorrow.getDate() + day_shift)
		tomorrow.setHours(tomorrow.getHours() + hour_shift);

		console.log('updating clock: '+now);
		var sunTimes = SunCalc.getTimes(now, latitude, longitude);
		if (now >= sunTimes.sunset) {
			console.log('updating sunTimes to be tomorrow');
			sunTimes = SunCalc.getTimes(tomorrow, latitude, longitude);
		}
		var moonTimes = SunCalc.getMoonTimes(now, latitude, longitude);

		var nowStr = date_to_time_string(now); 
		$('#now_string').html(nowStr);

		var nowSunPos = SunCalc.getPosition(now, latitude, longitude);
		var nowSunAzimuth = nowSunPos.azimuth * 180 / Math.PI;
		var nowSunAltitude = nowSunPos.altitude;
		var nowSunTime = azimuth_to_clock_time(nowSunAzimuth);
		$('#now_time').html(nowSunTime);
		$('#now_azimuth').html(nowSunAzimuth); 
		$('#now_altitude').html(nowSunAltitude); 

		var nowMoonPos = SunCalc.getMoonPosition(now, latitude, longitude);
		console.log('moon: ');
		console.log(nowMoonPos);
		var nowMoonAzimuth = nowMoonPos.azimuth * 180 / Math.PI;
		var nowMoonAltitude = nowMoonPos.altitude;
		var nowMoonDistance = nowMoonPos.distance;
		var nowMoonParallactic = nowMoonPos.parallacticAngle;
		var nowMoonTime = azimuth_to_clock_time(nowMoonAzimuth);
		$('#now_moon_time').html(nowMoonTime);
		$('#now_moon_azimuth').html(nowMoonAzimuth); 
		$('#now_moon_altitude').html(nowMoonAltitude); 
		$('#now_moon_distance').html(nowMoonDistance); 
		$('#now_moon_parallactic').html(nowMoonParallactic); 

		var nowMoonDetails = SunCalc.getMoonIllumination(now);
		var nowMoonFraction = nowMoonDetails.fraction;
		var nowMoonPhase = nowMoonDetails.phase; 
		var nowMoonAngle = nowMoonDetails.angle;
		$('#now_moon_fraction').html(nowMoonFraction); 
		$('#now_moon_phase').html(nowMoonPhase); 
		$('#now_moon_angle').html(nowMoonAngle); 

		if (nowMoonPhase < 0.05) {
			$('#moon_styles').html("<style>#moon:before{content: '🌑' !important;}</style>");

		} else if (nowMoonPhase < 0.2) {
			$('#moon_styles').html("<style>#moon:before{content: '🌒' !important;}</style>");

		} else if (nowMoonPhase < 0.3) {
			$('#moon_styles').html("<style>#moon:before{content: '🌓' !important;}</style>");

		} else if (nowMoonPhase < 0.45) {
			$('#moon_styles').html("<style>#moon:before{content: '🌔' !important;}</style>");

		} else if (nowMoonPhase < 0.55) {
			$('#moon_styles').html("<style>#moon:before{content: '🌕' !important;}</style>");

		} else if (nowMoonPhase < 0.7) {
			$('#moon_styles').html("<style>#moon:before{content: '🌖' !important;}</style>");

		} else if (nowMoonPhase < 0.8) {
			$('#moon_styles').html("<style>#moon:before{content: '🌗' !important;}</style>");

		} else if (nowMoonPhase < 0.95) {
			$('#moon_styles').html("<style>#moon:before{content: '🌘' !important;}</style>");

		} else {
			$('#moon_styles').html("<style>#moon:before{content: '🌑' !important;}</style>");

		}

		var sunriseStr = date_to_time_string(sunTimes.sunrise);
		$('#sunrise_string').html(sunriseStr);
		var sunrisePos = SunCalc.getPosition(sunTimes.sunrise, latitude, longitude);
		var sunriseAzimuth = sunrisePos.azimuth * 180 / Math.PI;
		var sunriseAltitude = sunrisePos.altitude;
		var sunriseTime = azimuth_to_clock_time(sunriseAzimuth);
		$('#sunrise_time').html(sunriseTime);
		$('#sunrise_azimuth').html(sunriseAzimuth); 
		$('#sunrise_altitude').html(sunriseAltitude); 

		var solarnoonStr = date_to_time_string(sunTimes.solarNoon); 
		$('#solarnoon_string').html(solarnoonStr);
		var solarnoonPos = SunCalc.getPosition(sunTimes.solarNoon, latitude, longitude);
		var solarnoonAzimuth = solarnoonPos.azimuth * 180 / Math.PI;
		var solarnoonAltitude = solarnoonPos.altitude;
		var solarnoonTime = azimuth_to_clock_time(solarnoonAzimuth);
		$('#solarnoon_time').html(solarnoonTime);
		$('#solarnoon_azimuth').html(solarnoonAzimuth); 
		$('#solarnoon_altitude').html(solarnoonAltitude); 

		var sunsetStr = date_to_time_string(sunTimes.sunset);
		$('#sunset_string').html(sunsetStr);
		var sunsetPos = SunCalc.getPosition(sunTimes.sunset, latitude, longitude);
		var sunsetAzimuth = sunsetPos.azimuth * 180 / Math.PI;
		var sunsetAltitude = sunsetPos.altitude;
		var sunsetTime = azimuth_to_clock_time(sunsetAzimuth);
		$('#sunset_time').html(sunsetTime);
		$('#sunset_azimuth').html(sunsetAzimuth); 
		$('#sunset_altitude').html(sunsetAltitude); 

		var moonRise;
		if (!moonTimes.rise) {
			var yesterdayMoonTimes = SunCalc.getMoonTimes(yesterday, latitude, longitude);
			moonRise = yesterdayMoonTimes.rise;
		} else {
			moonRise = moonTimes.rise;
		}
		var moonriseStr = date_to_time_string(moonRise);
		$('#moonrise_string').html(moonriseStr);
		var moonrisePos = SunCalc.getMoonPosition(moonRise, latitude, longitude);
		var moonriseAzimuth = moonrisePos.azimuth * 180 / Math.PI;
		var moonriseAltitude = moonrisePos.altitude;
		var moonriseTime = azimuth_to_clock_time(moonriseAzimuth);
		$('#moonrise_time').html(moonriseTime);
		$('#moonrise_azimuth').html(moonriseAzimuth); 
		$('#moonrise_altitude').html(moonriseAltitude); 

		var moon_height = 165+((sunriseAzimuth-moonriseAzimuth)/5);
		$('#now_moon_relative_altitude').html(165-moon_height);
		//$('#moon_height').html("<style>#moon{height: "+moon_height.toString()+"px; !important;}</style>");


		var moonSet;
		if (!moonTimes.set) {
			var tomorrowMoonTimes = SunCalc.getMoonTimes(tomorrow, latitude, longitude);
			moonRise = tomorrowMoonTimes.rise;
		} else {
			moonSet = moonTimes.set;
		}
		var moonsetStr = date_to_time_string(moonSet);
		$('#moonset_string').html(moonsetStr);
		var moonsetPos = SunCalc.getMoonPosition(moonTimes.set, latitude, longitude);
		var moonsetAzimuth = moonsetPos.azimuth * 180 / Math.PI;
		var moonsetAltitude = moonsetPos.altitude;
		var moonsetTime = azimuth_to_clock_time(moonsetAzimuth);
		$('#moonset_time').html(moonsetTime);
		$('#moonset_azimuth').html(moonsetAzimuth); 
		$('#moonset_altitude').html(moonsetAltitude); 

		var sunRelativeTime = get_relative_time(sunriseAzimuth, sunsetAzimuth, nowSunAzimuth);
		$('#relative_sun_time').html(sunRelativeTime);
		var sunRelativeAnimal = get_wadokei_from_relative_time(sunRelativeTime);
		console.log('Sun Wadokei: '+sunRelativeAnimal);
		$('#now_sun_animal').html(sunRelativeAnimal);
		var moonRelativeTime = get_relative_time(moonriseAzimuth, moonsetAzimuth, nowMoonAzimuth);
		$('#relative_moon_time').html(moonRelativeTime);
		var moonRelativeAnimal = get_wadokei_from_relative_time(moonRelativeTime);
		console.log('Moon Wadokei: '+moonRelativeAnimal);
		$('#now_moon_animal').html(moonRelativeAnimal);

		if (sunRelativeTime < 2.5) {
			// $('body').css('background-color', '#F0F0FF');

		} else if (sunRelativeTime < 12.5) {
			// $('body').css('background-color', '#29B7E5');
			
		} else if (sunRelativeTime < 16.5) {
			// $('body').css('background-color', '#7591B6');
						
		} else if (sunRelativeTime < 42.5) {
			// $('body').css('background-color', '#3A4460');
			
		} else if (sunRelativeTime < 47.5) {
			// $('body').css('background-color', '#7591B6');
			
		} else if (sunRelativeTime < 52.5) {
			// $('body').css('background-color', '#FDC559');
			
		} else if (sunRelativeTime < 57.5) {
			// $('body').css('background-color', '#29B7E5');
			
		} else {
			// $('body').css('background-color', '#F0F0FF');
			
		}
		setAngle('#hour_wrapper', sunRelativeTime*6);
		setAngle('#min_wrapper', moonRelativeTime*6);
		window.setTimeout(update_clock, 60000);
	};
	function no_location(err) {
		location_available = false;
		$('#location_on_no').html("geolocation error: "+`ERROR(${err.code}): ${err.message}`);
		$('#location_status').html("Please allow location to be accessed and reload the page.");
		console.log('location not available');
		window.setTimeout(update_clock, 60000);
	};

	function update_clock() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(got_location, no_location);
		} else {
			$('#location_status').html("Please allow location to be accessed and reload the page.");
			$('#location_on_no').html("no 1: "+navigator.geolocation);
			console.log('location not available');
			location_available = false;
		};
	}
	update_clock();
</script>
