---
title: Clock
layout: fullscreen
max_width: true
---

<style>
body {
  background: rgb(13, 186, 230);
}
#clock_canvas {
  position: relative;
  color: #333;
  margin: 0;
  padding: 100px;
  font-family: Helvetica, sans-serif;
}
#clock {
  background: #fff;
  border: 15px solid #222;
  border-radius: 50%;
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding: 0;
}
ul.clock-labels {
	padding-inline-start: 0;
  list-style: none;
  top: 0;
  background-color: #900;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;

  left: 120px;
  font-size: 23px;
  letter-spacing: -1.6px;
  line-height: 45px;
}

ul.clock-labels li.hour-num {
  position: absolute;
  top: -10 !important;
  left: 0;
  margin: 0;
  padding: 0;
  transform-origin: 50% 100%;
  height: 160px;
  background-color: transparent;

  width: 80px;
}
.clock-labels span {
  display: block;
}
/* The following code has helped to design the 1 number*/
.clock-labels li:nth-of-type(1) {
  transform: rotate(30deg);
}
.clock-labels li:nth-of-type(1) span {
  transform: rotate(-30deg);
}
.clock-labels li:nth-of-type(2) {
  transform: rotate(60deg);
}
.clock-labels li:nth-of-type(2) span {
  transform: rotate(-60deg);
}
/* The following code has helped to design the 3 number*/
.clock-labels li:nth-of-type(3) {
  transform: rotate(90deg);
}
.clock-labels li:nth-of-type(3) span {
  transform: rotate(-90deg);
}
.clock-labels li:nth-of-type(4) {
  transform: rotate(120deg);
}
.clock-labels li:nth-of-type(4) span {
  transform: rotate(-120deg);
}
/* The following code has helped to design the 5 number*/
.clock-labels li:nth-of-type(5) {
  transform: rotate(150deg);
}
.clock-labels li:nth-of-type(5) span {
  transform: rotate(-150deg);
}
.clock-labels li:nth-of-type(6) {
  transform: rotate(180deg);
}
.clock-labels li:nth-of-type(6) span {
  transform: rotate(-180deg);
}
/* The following code has helped to design the 7 number*/
.clock-labels li:nth-of-type(7) {
  transform: rotate(210deg);
}
.clock-labels li:nth-of-type(7) span {
  transform: rotate(-210deg);
}
.clock-labels li:nth-of-type(8) {
  transform: rotate(240deg);
}
.clock-labels li:nth-of-type(8) span {
  transform: rotate(-240deg);
}
/* The following code has helped to design the 9 number*/
.clock-labels li:nth-of-type(9) {
  transform: rotate(270deg);
}
.clock-labels li:nth-of-type(9) span {
  transform: rotate(-270deg);
}
.clock-labels li:nth-of-type(10) {
  transform: rotate(300deg);
}
.clock-labels li:nth-of-type(10) span {
  transform: rotate(-300deg);
}
/* The following code has helped to design the 11 number*/
.clock-labels li:nth-of-type(11) {
  transform: rotate(330deg);
}
.clock-labels li:nth-of-type(11) span {
  transform: rotate(-330deg);
}
.clock-labels li:nth-of-type(12) {
  transform: rotate(360deg);
}
.clock-labels li:nth-of-type(12) span {
  transform: rotate(-360deg);
}
#hour_wrapper, #min_wrapper {
  position: absolute;
  width: 320px;
  height: 320px;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.hand {
  position: absolute;
  bottom: 50%;
  transform-origin: 50% 100%;
}
.hour {
  background: gold;
  left: 152px;
  width: 13px;
  height: 105px;
  border-radius: 10px;
}
.hour:after {
  background: gold;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  width: 13px;
  height: 16px;
}
.min {
  background: lavender;
  left: 155px;
  width: 9px;
  height: 125px;
  border-radius: 8px;f
}
.min:after {
  background: lavender;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  width: 9px;
  height: 16px;
}
</style>

<div>
	<div id="location_status">
		Loading location for the clock. Hold, please.
	</div>

	<div id="clock_canvas" style="display: none;">
		<div id="clock">
			<ul class='clock-labels '>
	      <li class='hour-num'><span>•</span></li>
	      <li class='hour-num'><span>•</span></li>
	      <li class='hour-num'><span>set</span></li>
	      <li class='hour-num'><span>•</span></li>
	      <li class='hour-num'><span>•</span></li>
	      <li class='hour-num'><span>•</span></li>
	      <li class='hour-num'><span>•</span></li>
	      <li class='hour-num'><span>•</span></li>
	      <li class='hour-num'><span>rise</span></li>
	      <li class='hour-num'><span>•</span></li>
	      <li class='hour-num'><span>•</span></li>
	      <li class='hour-num'><span>•</span></li>
	    </ul>
	    <div id='hour_wrapper'>
	      <div class='hand hour'></div>
	    </div>
	    <div id='min_wrapper'>
	      <div class='hand min'></div>
	    </div>
		</div>
	</div>

	<!-- <div id="location_loaded" style="display: none;">
		<p>
			<div>lat: <span id="location_lat"></span></div>
			<div>long: <span id="location_long"></span></div>
		</p>
		<p>
			<div>Current relative sun time: <span id="relative_sun_time"></span></div>
			<div>Current relative moon time: <span id="relative_moon_time"></span></div>
		</p>
		<p>
	 		<div>Now: <span id="now_string"></span></div>
			<div>Now Sun Time: <span id="now_time"></span></div>
			<div>Now Sun azimuth: <span id="now_azimuth"></span></div>
			<div>Now Sun altitude: <span id="now_altitude"></span></div>
		</p>
		<p>
			<div>Now Moon Time: <span id="now_moon_time"></span></div>
			<div>Now Moon azimuth: <span id="now_moon_azimuth"></span></div>
			<div>Now Moon altitude: <span id="now_moon_altitude"></span></div>
			<div>Now Moon distance: <span id="now_moon_distance"></span></div>
			<div>Now Moon parallactic: <span id="now_moon_parallactic"></span></div>
			<div>Now Moon fraction: <span id="now_moon_fraction"></span></div>
			<div>Now Moon phase: <span id="now_moon_phase"></span></div>
			<div>Now Moon angle: <span id="now_moon_angle"></span></div>
		</p>
		<p>
	 		<div>Sunrise begins: <span id="sunrise_string"></span></div>
			<div>Sunrise Time: <span id="sunrise_time"></span></div>
			<div>Sunrise azimuth: <span id="sunrise_azimuth"></span></div>
			<div>Sunrise altitude: <span id="sunrise_altitude"></span></div>
		</p>
		<p>
	 		<div>Solar noon: <span id="solarnoon_string"></span></div>
			<div>Solar noon time: <span id="solarnoon_time"></span></div>
			<div>Solar noon azimuth: <span id="solarnoon_azimuth"></span></div>
			<div>Solar noon altitude: <span id="solarnoon_altitude"></span></div>
		</p>
		<p>
	 		<div>Sunset ends: <span id="sunset_string"></span></div>
			<div>Sunset time: <span id="sunset_time"></span></div>
			<div>Sunset azimuth: <span id="sunset_azimuth"></span></div>
			<div>Sunset altitude: <span id="sunset_altitude"></span></div>
		</p>

		<p>
	 		<div>Moonrise begins: <span id="moonrise_string"></span></div>
			<div>Moonrise time: <span id="moonrise_time"></span></div>
			<div>Moonrise azimuth: <span id="moonrise_azimuth"></span></div>
			<div>Moonrise altitude: <span id="moonrise_altitude"></span></div>
		</p>
		<p>
	 		<div>Moonset ends: <span id="moonset_string"></span></div>
			<div>Moonset time: <span id="moonset_time"></span></div>
			<div>Moonset azimuth: <span id="moonset_azimuth"></span></div>
			<div>Moonset altitude: <span id="moonset_altitude"></span></div>
		</p>
	</div> -->

</div>
 
<script type="text/javascript">
	var location_available = null;

	function azimuth_to_clock_time(azimuth) {
		if (azimuth >= 0) {
			return azimuth / 30;
		} else {
			return 12 - (-azimuth / 30);
		}
	}

	function date_to_time_string(d) {
		return d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes();
	}

	function get_relative_time(rise, set, now) {
		var day_or_night = null;
		var day_length = -rise + set;
		var day_min_length = day_length / 30;
		var now_distance_from_rise = now - rise;
		var now_ticks_past_set = now_distance_from_rise / day_min_length;
		if (now < rise || now > set) {
			day_or_night = 'night';
			console.log(day_or_night);
			console.log('day_min_length: '+day_min_length);
			console.log(now_ticks_past_set);
			if (now_ticks_past_set < 16) {
				return now_ticks_past_set + 45;
			} else {
				return now_ticks_past_set - 15;
			}
		} else {
			day_or_night = 'day';
			if (now_ticks_past_set < 16) {
				return now_ticks_past_set + 45;
			} else {
				return now_ticks_past_set - 15;
			}
		}
	}

	function setAngle(wrapper, angle) {
		console.log('wrapper: '+wrapper);
		console.log('angle: '+angle);
		$(wrapper).css('color: #f00;');
		var rotate_string = "rotate(" + parseInt(angle) + "deg)";
		console.log('rotate: '+rotate_string);
  	$(wrapper).css('transform', rotate_string);
		console.log($(wrapper));
	}

	function got_location(pos) {
		location_available = true;
		console.log('location available');
		$('#location_status').hide();
		$('#location_loaded').show();
		$('#clock_canvas').show();

		var latitude = pos.coords.latitude;
		var longitude = pos.coords.longitude;
		$('#location_long').html(pos.coords.longitude);
		$('#location_lat').html(pos.coords.latitude);
		var now = new Date();
		var sunTimes = SunCalc.getTimes(now, latitude, longitude);
		var moonTimes = SunCalc.getMoonTimes(now, latitude, longitude);

		var nowStr = date_to_time_string(now); 
		$('#now_string').html(nowStr);

		var nowSunPos = SunCalc.getPosition(now, latitude, longitude);
		var nowSunAzimuth = nowSunPos.azimuth * 180 / Math.PI;
		var nowSunAltitude = nowSunPos.altitude;
		var nowSunTime = azimuth_to_clock_time(nowSunAzimuth);
		$('#now_time').html(nowSunTime);
		$('#now_azimuth').html(nowSunAzimuth); 
		$('#now_altitude').html(nowSunAltitude); 

		var nowMoonPos = SunCalc.getMoonPosition(now, latitude, longitude);
		var nowMoonAzimuth = nowMoonPos.azimuth * 180 / Math.PI;
		var nowMoonAltitude = nowMoonPos.altitude;
		var nowMoonDistance = nowMoonPos.distance;
		var nowMoonParallactic = nowMoonPos.parallacticAngle;
		var nowMoonTime = azimuth_to_clock_time(nowMoonAzimuth);
		$('#now_moon_time').html(nowMoonTime);
		$('#now_moon_azimuth').html(nowMoonAzimuth); 
		$('#now_moon_altitude').html(nowMoonAltitude); 
		$('#now_moon_distance').html(nowMoonDistance); 
		$('#now_moon_parallactic').html(nowMoonParallactic); 

		var nowMoonDetails = SunCalc.getMoonIllumination(now);
		var nowMoonFraction = nowMoonDetails.fraction;
		var nowMoonPhase = nowMoonDetails.phase; 
		var nowMoonAngle = nowMoonDetails.angle;
		$('#now_moon_fraction').html(nowMoonFraction); 
		$('#now_moon_phase').html(nowMoonPhase); 
		$('#now_moon_angle').html(nowMoonAngle); 

		var sunriseStr = date_to_time_string(sunTimes.sunrise);
		$('#sunrise_string').html(sunriseStr);
		var sunrisePos = SunCalc.getPosition(sunTimes.sunrise, latitude, longitude);
		var sunriseAzimuth = sunrisePos.azimuth * 180 / Math.PI;
		var sunriseAltitude = sunrisePos.altitude;
		var sunriseTime = azimuth_to_clock_time(sunriseAzimuth);
		$('#sunrise_time').html(sunriseTime);
		$('#sunrise_azimuth').html(sunriseAzimuth); 
		$('#sunrise_altitude').html(sunriseAltitude); 

		var solarnoonStr = date_to_time_string(sunTimes.solarNoon); 
		$('#solarnoon_string').html(solarnoonStr);
		var solarnoonPos = SunCalc.getPosition(sunTimes.solarNoon, latitude, longitude);
		var solarnoonAzimuth = solarnoonPos.azimuth * 180 / Math.PI;
		var solarnoonAltitude = solarnoonPos.altitude;
		var solarnoonTime = azimuth_to_clock_time(solarnoonAzimuth);
		$('#solarnoon_time').html(solarnoonTime);
		$('#solarnoon_azimuth').html(solarnoonAzimuth); 
		$('#solarnoon_altitude').html(solarnoonAltitude); 

		var sunsetStr = date_to_time_string(sunTimes.sunset);
		$('#sunset_string').html(sunsetStr);
		var sunsetPos = SunCalc.getPosition(sunTimes.sunset, latitude, longitude);
		var sunsetAzimuth = sunsetPos.azimuth * 180 / Math.PI;
		var sunsetAltitude = sunsetPos.altitude;
		var sunsetTime = azimuth_to_clock_time(sunsetAzimuth);
		$('#sunset_time').html(sunsetTime);
		$('#sunset_azimuth').html(sunsetAzimuth); 
		$('#sunset_altitude').html(sunsetAltitude); 

		var moonriseStr = date_to_time_string(moonTimes.rise);
		$('#moonrise_string').html(moonriseStr);
		var moonrisePos = SunCalc.getMoonPosition(moonTimes.rise, latitude, longitude);
		var moonriseAzimuth = moonrisePos.azimuth * 180 / Math.PI;
		var moonriseAltitude = moonrisePos.altitude;
		var moonriseTime = azimuth_to_clock_time(moonriseAzimuth);
		$('#moonrise_time').html(moonriseTime);
		$('#moonrise_azimuth').html(moonriseAzimuth); 
		$('#moonrise_altitude').html(moonriseAltitude); 

		var moonsetStr = date_to_time_string(moonTimes.set);
		$('#moonset_string').html(moonsetStr);
		var moonsetPos = SunCalc.getMoonPosition(moonTimes.set, latitude, longitude);
		var moonsetAzimuth = moonsetPos.azimuth * 180 / Math.PI;
		var moonsetAltitude = moonsetPos.altitude;
		var moonsetTime = azimuth_to_clock_time(moonsetAzimuth);
		$('#moonset_time').html(moonsetTime);
		$('#moonset_azimuth').html(moonsetAzimuth); 
		$('#moonset_altitude').html(moonsetAltitude); 

		var sunRelativeTime = get_relative_time(sunriseAzimuth, sunsetAzimuth, nowSunAzimuth);
		$('#relative_sun_time').html(sunRelativeTime);
		var moonRelativeTime = get_relative_time(moonriseAzimuth, moonsetAzimuth, nowMoonAzimuth);
		$('#relative_moon_time').html(moonRelativeTime);

		setAngle('#hour_wrapper', sunRelativeTime*6);
		setAngle('#min_wrapper', moonRelativeTime*6);

	};
	function no_location() {
		location_available = false;
		$('#location_status').html("Please allow location to be accessed and reload the page.");
		console.log('location not available');
	};
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(got_location, no_location);
	} else {
		$('#location_status').html("Please allow location to be accessed and reload the page.");
		console.log('location not available');
		location_available = false;
	};
</script>
