<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}
  <body>
	    
	  <div id="fullscreen" class="justify-content-center">
	  	<div class="{% if page.max_width or layout.max_width %}max_width{% endif %}">
	    	{{ content }}
  		</div>
   	</div>

		<script>
			$(document).ready(function () {
			  $(function () {
			    $('[data-toggle="popover"]').popover({
			      container: 'body',
			      trigger: 'manual'
			    }).on('mouseenter', function () {
			      var _this = this;
			      $(this).popover('show');
			      $('.popover').on('mouseleave', function () {
			        $(_this).popover('hide');
			      });
			    }).on('mouseleave', function () {
			      var _this = this;
			      setTimeout(function () {
			        if (!$('.popover:hover').length) {
			          $(_this).popover('hide');
			        }
			      }, 100);
			    });
			  })
			});
		</script>
	</body>
</html>

<style>
#fullscreen {
	margin: 24px;
}
</style>