<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}
  <body>
	    
	  <div id="fullscreen" class="justify-content-center">
	  	<div class="{% if page.max_width or layout.max_width %}max_width{% endif %}">
	    	{{ content }}
  		</div>
   	</div>

		<script>
			$(document).ready(function () {
			  $(function () {
			    $('[data-toggle="popover"]').popover({
			      container: 'body',
			      trigger: 'manual'
			    }).on('mouseenter', function () {
			      var _this = this;
			      var delay = $(this).find('[data-has-image]').length || $(this).is('[data-has-image]') ? 150 : 0;
			      _this._popoverTimeout = setTimeout(function () {
			        $(_this).popover('show');
			        $(_this).closest('.week').addClass('popover-active');
			        $('.popover').on('mouseleave', function () {
			          $(_this).popover('hide');
			          $(_this).closest('.week').removeClass('popover-active');
			        });
			      }, delay);
			    }).on('mouseleave', function () {
			      var _this = this;
			      clearTimeout(_this._popoverTimeout);
			      setTimeout(function () {
			        if (!$('.popover:hover').length) {
			          $(_this).popover('hide');
			          $(_this).closest('.week').removeClass('popover-active');
			        }
			      }, 100);
			    });
			  })
			});
		</script>
	</body>
</html>

<style>
#fullscreen {
	margin: 24px;
}
</style>