---
layout: fullscreen
---

{% assign hexagrams = site.data.book-of-moods.hexagram %}
{% assign hex = hexagrams[page.title] %}

<style>
  .mood-color-box {
    padding-left: 30px;
  }
</style>

<section class="post">
  {% if hex.name and hex.name != blank %}
    <div class="subtitle">
      <div style="padding: 10px 0;">
        <a href="/book-of-moods">The Book of Moods</a>
      </div>
    </div>
  {% endif %}

  {% if hex %}
    <div class="row" style="background-color: #eee; margin: 0">
      <div class="col-12 col-md-6" style="margin: 0; padding: 20px;">
        <h1 style="font-size: 70px; line-height: 90px; ">
          {{ hex.name }}
        </h1>
        <div style="padding: 0 5px;">
          <h3>{{ hex.symbol }}: {{ hex.scene }}</h3>
        </div>
      </div>

      <div class="col-12 col-md-6" style="margin: 0; padding: 20px;">
        <div style="font-size: 70px; line-height: 90px;">
          {{ hex.hexagram }}&nbsp;{{ page.title }}
        </div>
        <div style="padding: 10px 5px; vertical-align: middle; min-height: 90px;">
          <div>Hexagram {{ hex.number }}: {{ hex.oldname }}</div>
          <div>{{ hex.uppertrigram }} over {{ hex.lowertrigram }}</div>
        </div>

      </div>
    </div>
  {% endif %}

  <div class="mood-color-box">
    {% include mood_color.html %}

    <div class="row" style="display: flex; width: 100%; justify-content: space-evenly;">
      <div class="col-12 col-sm-10 col-lg-8">
        <div style="width: 100%; max-width: 500px; margin: auto auto; padding: 1em 2px;">
          {{ page.content | markdownify }}

          <div><strong>Change Upper</strong></div>
          {% if page.change_6 %}
            <div>
              {% if page.question_6 > 50 %}
                Disconnect reality: 
              {% else %}
                Connect reality:
              {% endif %}
              <a href="/mood/{{ page.change_6[0] }}">{{ page.change_6[1] }}</a>
            </div>
          {% endif %}
          {% if page.change_5 %}
            <div>
              {% if page.question_5 > 50 %}
                Disconnect network: 
              {% else %}
                Connect network:
              {% endif %}
              <a href="/mood/{{ page.change_5[0] }}">{{ page.change_5[1] }}</a>
            </div>
          {% endif %}
          {% if page.change_4 %}
            <div>
              {% if page.question_4 > 50 %}
                Disconnect circumstances: 
              {% else %}
                Connect circumstances:
              {% endif %}
              <a href="/mood/{{ page.change_4[0] }}">{{ page.change_4[1] }}</a>
            </div>
          {% endif %}

          <div style="margin-top: 1em;"><strong>Change Lower</strong></div>
          {% if page.change_3 %}
            <div>
              {% if page.question_3 > 50 %}
                Disconnect resources: 
              {% else %}
                Connect resources:
              {% endif %}
              <a href="/mood/{{ page.change_3[0] }}">{{ page.change_3[1] }}</a>
            </div>
          {% endif %}
          {% if page.change_2 %}
            <div>
              {% if page.question_2 > 50 %}
                Disconnect skill: 
              {% else %}
                Connect skill:
              {% endif %}
              <a href="/mood/{{ page.change_2[0] }}">{{ page.change_2[1] }}</a>
            </div>
          {% endif %}
          {% if page.change_1 %}
            <div>
              {% if page.question_1 > 50 %}
                Disconnect intuition: 
              {% else %}
                Connect intuition:
              {% endif %}
              <a href="/mood/{{ page.change_1[0] }}">{{ page.change_1[1] }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
