---
layout: default
---

<section class="post">
  <h1 class="title">{{ page.title }}</h1>
  {% if page.one_liner and page.one_liner != blank %}
    <h2 class="subtitle">{{ page.one_liner }}</h2>
  {% endif %}
  
  {% if page.image and page.image != blank and page.image != '' %}
    <div class='featured-image'>
      {% responsive_image_block %}
        path: {{ page.image }}
        width: 500
        class: 'featured-image'
        {% if title %}
          alt: {{ page.title }}
          title: {{ page.title }}
        {% endif %}
      {% endresponsive_image_block %}
    </div>
  {% endif %}

  {{ content }}
  <div class="meta">
    {% if page.date %}
    	<time datetime="{{ page.date | date_to_xmlschema }}">
    		Created {{ page.date | date: "%B %-d, %Y" }}
    	</time> 
    {% endif %}
  </div>
</section>


