---
layout: default
---

<section class="post">
  <h1 class="title">{{ page.title }}</h1>
  {% if page.one_liner and page.one_liner != blank %}
    <h2 class="subtitle">{{ page.one_liner }}</h2>
  {% endif %}
  
  {% if page.image and page.image != blank %}
  	{% include img.html src=page.image class="featured-image" alt=page.title width="500" %}
  {% endif %}

  {{ content }}
  <div class="meta">
  	<time datetime="{{ page.date | date_to_xmlschema }}">
  		Created {{ page.date | date: "%B %-d, %Y" }}
  	</time> 
  </div>
</section>


