---
layout: default
---

<section class="post">
  <h1 class="title">{{ page.title }}</h1>
  {% if page.one_liner and page.one_liner != blank %}
    <h2 class="subtitle">{{ page.one_liner }}</h2>
  {% endif %}
  {% if page.link and page.link != blank %}
  	<small>The original post is here: <a href="{{ page.link }}">{{ page.link | slice: 0, 40 }}...</a></small>
  {% endif %}
  
  {% if page.image and page.image != blank and page.image != '' %}
    <div class='featured-image'>
      {% responsive_image_block %}
        path: {{ page.image }}
        width: 500
        {% if title %}
          alt: {{ page.title }}
          title: {{ page.title }}
        {% endif %}
      {% endresponsive_image_block %}
    </div>
  {% endif %}

  <div class="content mt-3">{{ content }}</div>
  <div class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> 
  	{% if page.piles %}
  		&middot; In these piles:
  		{% for pile in page.piles %}
    		<a href="/pile/{{pile}}">{{pile}}</a>{% unless forloop.last %}, {% endunless %}
    	{% endfor %}
    {% endif %}
    {% if page.link and page.link != blank %}
      &middot; <a href="{{ page.link }}">Original post</a>
    {% endif %}

  </div>
</section>


