---
title: Why Are We Yelling?
layout: fullscreen
---

<section class="life-in-weeks">
	<div class="row justify-content-center">

    <div class="col-12 col-sm-10 homepage">

		  <h1 class="text-center mt-5"><em>Why Are We Yelling?</em><br /><span class="font-weight-light">Learn the life-changing art of productive disagreement.</span></h1>

		  <div class="row mt-5 justify-content-center">
		    <div class="col-4 col-md-3 text-center">
		      <a href="/book"><img src="/assets/images/why-are-we-yelling.png" alt="Why Are We Yelling?" style="max-height: 500px;" class="mt-2" /></a> 
		    </div>
		    <div class="col-10 col-md-7 align-middle pt-1">
		      <form action="https://www.getdrip.com/forms/263449815/submissions" method="post" data-drip-embedded-form="263449815">
		        <h3 data-drip-attribute="headline"></h3>
		        <p>This book is a new framework that frees you from the futility of unproductive conflict and pointless arguments.
		        <u>Read this FREE chapter</u> where I talk about why I wrote the book and what you will get out of it.</p>
		        <div class="form-group mt-3">
		            <label for="drip-email">Email Address</label>
		            <input type="email" id="drip-email" name="fields[email]" value="" class="form-control" placeholder="Type here..." />
		          </div>
		        <div style="display: none;" aria-hidden="true">
		          <label for="website">Website</label><br />
		          <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="" />
		        </div>
		        <div>
		          <input type="submit" value="GET THE FREE CHAPTER" data-drip-attribute="sign-up-button" class="btn btn-primary btn-block" />
		        </div>
		      </form>
		    </div>
		  </div>
		</div>
		<br clear="all" />
    

    <div class="col-12"><a name="buy"></a></div>
    <a name="buy"></a>
		<div class="col-12 p-5 mt-9 text-center" style="background-color: #fdefd4;">
		  <h3 class="mb-3"><strong>Get your copy</strong> of <em>Why Are We Yelling?</em></h3>
		  <a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9780525540106/siteID/8001/retailerid/7/trackingcode/randohouseinc35324-20" class="btn btn-outline-orange mx-1 mb-1" target="_new">Amazon</a>
		  <a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9780525540106/siteID/8001/retailerid/2/trackingcode/PRH8ECCEED34F" class="btn btn-outline-orange mx-1 mb-1" target="_new">Barnes &amp; Noble</a>
		  <a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9780525540106/siteID/8001/retailerid/5/trackingcode/PRH8ECCEED34F" class="btn btn-outline-orange mx-1 mb-1" target="_new">Books-A-Million</a>
		  <a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9780525540106/siteID/8001/retailerid/6/trackingcode/penguinrandom" class="btn btn-outline-orange mx-1 mb-1" target="_new">IndieBound</a>
		</div>


		<div class="col-12 col-md-8 col-lg-8 p-5">
		  <h3 class="mb-3 text-center">...then claim your <strong>free bonuses!</strong></h3>
		  <div class="text-center mb-2"><em>Buy the book from your favorite bookseller, then forward your purchase receipt to</em> <code>iboughtwhyareweyelling@gmail.com</code> <em>to receive the following bonuses...</em></div>

		  <ol class="bonus-list">
		    <li><strong>Disagreement Template w/ Examples.</strong> A simple template for having productive disagreements with several real examples from the book and from life.</li>
		    <li style="display: none;"><strong>Disagreement FAQ and AMA.</strong> Common questions people have about productive disagreement. You'll be invited to submit a question about anything in the book that you'd like more information on.</li>
		    <li><strong>Printable Reference Guides.</strong> You'll get some downloadable PDFs with all the guidelines for productive disagreement and the cognitive bias cheat sheet.</li>
		    <li><strong>Companion Reading Guide.</strong> A series of emails with additional insights that complement the 8 tips given in the book.</li>
		    <li><strong>Cognitive Bias Desktop Wallpaper.</strong> Get a light and dark mode downloadable wallpaper version of the popular Cognitive Bias Codex.</li>
		    <li><strong>A 3-Month Free Trial of 750words.com.</strong> <a href="https://750words.com" target="_new">750 Words</a> is a private journal to accompany the topics covered in the book's first two chapters: watch how anxiety sparks, and talk to your internal voices. Normally $5/month, you'll get the first 3 months free, which will get you at least to the Albatross badge (30 days of writing) and almost all the way to the Phoenix badge (100 days of writing).</li>
		  </ol>
		</div>

		<div class="col-12"><a name="about"></a></div>
		<div class="col-12 p-5 mt-2 text-center justify-content-center">
		  <h3 class="text-center">What is the book about?</h3>
		  <p class="text-center text-subdued">It's a light read filled with real stories and 100 of my own illustrations</p>

		  <div class="row justify-content-center">
		    <div class="col-12 col-lg-10">
		      <div class="responsive-container text-center"><iframe class="responsive-iframe" src="//slides.com/busterbenson/why-are-we-yelling-tour/embed" byline="hidden" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

		      <p>(<a href="/whyareweyelling/illustrations">See all 100ish illustrations from the book, and some that didn't make the cut</a>)</p>
		    </div>
		  </div>


		  <div class="row justify-content-center">
		    <div class="col-12 col-lg-10">
		      <div class="responsive-container text-center">
		        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/eEJY7Gri-iA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		      </div>
		    </div>
		  </div>    

		</div>

		<div class="col-12 justify-content-center" style="background-color: #fdefd4;">
		  <div class="col-12 col-md-10 col-xl-7 px-5 mx-auto mb-5">
		    <h3 class="mt-5 text-center">10 difficult questions we'll explore in this book&hellip;</h3>
		    <ol class="bonus-list mt-2">
		      <li>How can I turn tense, frustrating moments into productive ones?</li>
		      <li>How can I remain calm even when I'm put on the spot?</li>
		      <li>How can I have productive disagreements without endorsing harmful ideas?</li>
		      <li>How can I learn from the anxiety I feel when I'm in the heat of a conflict?</li>
		      <li>How can I become curious about people I believe are dangerous and wrong?</li>
		      <li>How can I move forward when an argument has reached a dead end?</li>
		      <li>How can I see disagreements as opportunities rather than obstacles?</li>
		      <li>How can I avoid being taken advantage of in bad faith conversations?</li>
		      <li>How can I build stronger arguments in collaboration with my opponents?</li>
		      <li>How can I apply all of this to my relationships, career, and politics?</li>
		    </ol>
		  </div>
		</div>

		<div class="col-12 col-md-10 col-xl-7 p-5">
		  <h3 class="mb-3 text-center">What some very kind people have said</h3>
		  <p>“This is a life-changing book. Read it three times and then give a copy to anyone you care about. It will make things better.”
		  <br /><strong>—Seth Godin,</strong> <em>author of This is Marketing</em></p>

		  <p>“This is the perfect book at the perfect time to bring some sanity back into disagreements. Buster Benson unveils a new framework for arguing that helps you understand your biases and show other people theirs in a nonconfrontational way.”
		  <br /><strong>—Annie Duke,</strong><em> author of Thinking in Bets</em></p>
		  
		  <p>“Productive disagreeing is the most underrated life skill you can build. Buster Benson turns everything you know about arguing on its head. Before reading this book, I never thought I’d be looking forward to my next disagreement.”
		  <br /><strong>—Ev Williams,</strong> <em>CEO of Medium and cofounder of Twitter</em></p>
		  
		  <p>“In this lively, accessible, and practical guide, Buster Benson offers us eight valuable principles for turning rude arguments or suppressed differences into dynamic conversations that illuminate, connect, and yield better results for all. With Benson’s help, let the arguing begin!”
		  <br /><strong>—William Ury,</strong> <em>coauthor of Getting to Yes and author of Getting to Yes with Yourself</em></p>

		  <p>“With provocative ideas—and the brain science to back them up—Why Are We Yelling? offers fresh approaches to conflict and connection.”
		  <br /><strong>--Sarah Milstein,</strong> <em>author of The Twitter Book</em></p>
		  
		  <p>“Conflict can be ugly. But if you follow the precepts of Buster Benson, you’ll discover that it’s also inevitable, necessary, and even helpful. Everybody can learn how to argue better and more productively with this provocative book.”
		  <br /><strong>—Daniel H. Pink,</strong> <em>author of When and To Sell Is Human</em></p>
		  
		  <p>“I’m a sucker for frameworks, and this is one of the greats. You’ll learn to turn the messy, frustrating, emotional experience of arguing into a fine art.”
		  <br /><strong>—Nir Eyal,</strong> <em>author of Hooked and Indistractable</em></p>
		  
		  <p>“In today’s polarized climate, ‘productive disagreement’ often feels like an oxymoron. Benson brilliantly challenges this idea, offering a thoughtful guidebook on how to lower our voices, tolerate tension, and have the constructive dialogue our world needs.”
		  <br /><strong>—General Stanley McChrystal,</strong> <em>author of Leaders and Team of Teams</em></p>
		  
		  <p>“Buster Benson’s methods are instantly actionable, his writing is funny and relatable, and his book is the ideal companion to <em>Difficult Conversations</em>.”
		  <br /><strong>—Adam Grant,</strong> <em>author of Originals and Give and Take,
		  and host of the TED podcast WorkLife</em></p>

		  <p>“Reading <em>Why Are We Yelling?</em> is like having your most calm, level-headed friend explain how you might diffuse a tense situation in your life and work. I especially recommend this book to anyone who has ever tried to ‘win’ an argument only to end up frustrated with the results.”
		  <br /><strong>--Jason Shellen,</strong> <em>co-founder of Google Reader, Boxer, and Brizzly; co-founder of Fable</em></p>
		</div>

		<a name="buy"></a>
		<div class="col-12 p-5 mt-9 text-center" style="background-color: #fdefd4;">
		  <h3 class="mb-3"><strong>Get your copy</strong> of <em>Why Are We Yelling?</em></h3>
		  <a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9780525540106/siteID/8001/retailerid/7/trackingcode/randohouseinc35324-20" class="btn btn-outline-orange mx-1 mb-1" target="_new">Amazon</a>
		  <a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9780525540106/siteID/8001/retailerid/2/trackingcode/PRH8ECCEED34F" class="btn btn-outline-orange mx-1 mb-1" target="_new">Barnes &amp; Noble</a>
		  <a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9780525540106/siteID/8001/retailerid/5/trackingcode/PRH8ECCEED34F" class="btn btn-outline-orange mx-1 mb-1" target="_new">Books-A-Million</a>
		  <a href="http://links.penguinrandomhouse.com/type/affiliate/isbn/9780525540106/siteID/8001/retailerid/6/trackingcode/penguinrandom" class="btn btn-outline-orange mx-1 mb-1" target="_new">IndieBound</a>
		</div>

    <div class="col-12 col-md-8 col-lg-8 mt-5 p-5">
      <div class="mb-3 text-center text-subdued">❤️ <em>5% of the book's advance and royalties will be donated to <a href="https://www.givewell.org/" target="_new">GiveWell</a>. They're a great organization that does a ton of work to identify the charities that improve the most lives per dollar on based <a href="https://www.givewell.org/how-we-work/criteria#Criteria" target="_new">these criteria</a>.</em></div>
    </div>

    <div class="col-12 col-md-8 col-lg-8">
    	<div class="mb-3 text-center text-subdued"><strong>Interested in helping promote the book, or requesting an interview?</strong> <a href="/whyareweyelling/contact">Use this form.</a></div>
    </div>

  </div>
</section>